/* layer: default */
.text-base{font-size:var(--text-base);}
.text-sm{font-size:var(--text-sm);}
.text-xs{font-size:var(--text-xs);}
.tracking-normal{letter-spacing:var(--tracking-normal);}
.tracking-tight{letter-spacing:var(--tracking-tight);}
.tracking-wide{letter-spacing:var(--tracking-wide);}
.tracking-wider{letter-spacing:var(--tracking-wider);}
.p-000{padding:var(--space-000);}
.p-100{padding:var(--space-100);}
.p-1000{padding:var(--space-1000);}
.p-1100{padding:var(--space-1100);}
.p-1200{padding:var(--space-1200);}
.p-1300{padding:var(--space-1300);}
.p-1400{padding:var(--space-1400);}
.p-150{padding:var(--space-150);}
.p-200{padding:var(--space-200);}
.p-250{padding:var(--space-250);}
.p-300{padding:var(--space-300);}
.p-350{padding:var(--space-350);}
.p-400{padding:var(--space-400);}
.p-450{padding:var(--space-450);}
.p-500{padding:var(--space-500);}
.p-600{padding:var(--space-600);}
.p-800{padding:var(--space-800);}
.p-900{padding:var(--space-900);}
.pt-000{padding-block-start:var(--space-000);}
.pt-100{padding-block-start:var(--space-100);}
.pt-1000{padding-block-start:var(--space-1000);}
.pt-1100{padding-block-start:var(--space-1100);}
.pt-1200{padding-block-start:var(--space-1200);}
.pt-1300{padding-block-start:var(--space-1300);}
.pt-1400{padding-block-start:var(--space-1400);}
.pt-150{padding-block-start:var(--space-150);}
.pt-200{padding-block-start:var(--space-200);}
.pt-250{padding-block-start:var(--space-250);}
.pt-300{padding-block-start:var(--space-300);}
.pt-350{padding-block-start:var(--space-350);}
.pt-400{padding-block-start:var(--space-400);}
.pt-450{padding-block-start:var(--space-450);}
.pt-500{padding-block-start:var(--space-500);}
.pt-600{padding-block-start:var(--space-600);}
.pt-800{padding-block-start:var(--space-800);}
.pt-900{padding-block-start:var(--space-900);}
.pr-000{padding-inline-end:var(--space-000);}
.pr-100{padding-inline-end:var(--space-100);}
.pr-1000{padding-inline-end:var(--space-1000);}
.pr-1100{padding-inline-end:var(--space-1100);}
.pr-1200{padding-inline-end:var(--space-1200);}
.pr-1300{padding-inline-end:var(--space-1300);}
.pr-1400{padding-inline-end:var(--space-1400);}
.pr-150{padding-inline-end:var(--space-150);}
.pr-200{padding-inline-end:var(--space-200);}
.pr-250{padding-inline-end:var(--space-250);}
.pr-300{padding-inline-end:var(--space-300);}
.pr-350{padding-inline-end:var(--space-350);}
.pr-400{padding-inline-end:var(--space-400);}
.pr-450{padding-inline-end:var(--space-450);}
.pr-500{padding-inline-end:var(--space-500);}
.pr-600{padding-inline-end:var(--space-600);}
.pr-800{padding-inline-end:var(--space-800);}
.pr-900{padding-inline-end:var(--space-900);}
.pb-000{padding-block-end:var(--space-000);}
.pb-100{padding-block-end:var(--space-100);}
.pb-1000{padding-block-end:var(--space-1000);}
.pb-1100{padding-block-end:var(--space-1100);}
.pb-1200{padding-block-end:var(--space-1200);}
.pb-1300{padding-block-end:var(--space-1300);}
.pb-1400{padding-block-end:var(--space-1400);}
.pb-150{padding-block-end:var(--space-150);}
.pb-200{padding-block-end:var(--space-200);}
.pb-250{padding-block-end:var(--space-250);}
.pb-300{padding-block-end:var(--space-300);}
.pb-350{padding-block-end:var(--space-350);}
.pb-400{padding-block-end:var(--space-400);}
.pb-450{padding-block-end:var(--space-450);}
.pb-500{padding-block-end:var(--space-500);}
.pb-600{padding-block-end:var(--space-600);}
.pb-800{padding-block-end:var(--space-800);}
.pb-900{padding-block-end:var(--space-900);}
.pl-000{padding-inline-start:var(--space-000);}
.pl-100{padding-inline-start:var(--space-100);}
.pl-1000{padding-inline-start:var(--space-1000);}
.pl-1100{padding-inline-start:var(--space-1100);}
.pl-1200{padding-inline-start:var(--space-1200);}
.pl-1300{padding-inline-start:var(--space-1300);}
.pl-1400{padding-inline-start:var(--space-1400);}
.pl-150{padding-inline-start:var(--space-150);}
.pl-200{padding-inline-start:var(--space-200);}
.pl-250{padding-inline-start:var(--space-250);}
.pl-300{padding-inline-start:var(--space-300);}
.pl-350{padding-inline-start:var(--space-350);}
.pl-400{padding-inline-start:var(--space-400);}
.pl-450{padding-inline-start:var(--space-450);}
.pl-500{padding-inline-start:var(--space-500);}
.pl-600{padding-inline-start:var(--space-600);}
.pl-800{padding-inline-start:var(--space-800);}
.pl-900{padding-inline-start:var(--space-900);}
.px-000{padding-inline:var(--space-000);}
.px-100{padding-inline:var(--space-100);}
.px-1000{padding-inline:var(--space-1000);}
.px-1100{padding-inline:var(--space-1100);}
.px-1200{padding-inline:var(--space-1200);}
.px-1300{padding-inline:var(--space-1300);}
.px-1400{padding-inline:var(--space-1400);}
.px-150{padding-inline:var(--space-150);}
.px-200{padding-inline:var(--space-200);}
.px-250{padding-inline:var(--space-250);}
.px-300{padding-inline:var(--space-300);}
.px-350{padding-inline:var(--space-350);}
.px-400{padding-inline:var(--space-400);}
.px-450{padding-inline:var(--space-450);}
.px-500{padding-inline:var(--space-500);}
.px-600{padding-inline:var(--space-600);}
.px-800{padding-inline:var(--space-800);}
.px-900{padding-inline:var(--space-900);}
.py-000{padding-block:var(--space-000);}
.py-100{padding-block:var(--space-100);}
.py-1000{padding-block:var(--space-1000);}
.py-1100{padding-block:var(--space-1100);}
.py-1200{padding-block:var(--space-1200);}
.py-1300{padding-block:var(--space-1300);}
.py-1400{padding-block:var(--space-1400);}
.py-150{padding-block:var(--space-150);}
.py-200{padding-block:var(--space-200);}
.py-250{padding-block:var(--space-250);}
.py-300{padding-block:var(--space-300);}
.py-350{padding-block:var(--space-350);}
.py-400{padding-block:var(--space-400);}
.py-450{padding-block:var(--space-450);}
.py-500{padding-block:var(--space-500);}
.py-600{padding-block:var(--space-600);}
.py-800{padding-block:var(--space-800);}
.py-900{padding-block:var(--space-900);}
.m-000{margin:var(--space-000);}
.m-100{margin:var(--space-100);}
.m-1000{margin:var(--space-1000);}
.m-1100{margin:var(--space-1100);}
.m-1200{margin:var(--space-1200);}
.m-1300{margin:var(--space-1300);}
.m-1400{margin:var(--space-1400);}
.m-150{margin:var(--space-150);}
.m-200{margin:var(--space-200);}
.m-250{margin:var(--space-250);}
.m-300{margin:var(--space-300);}
.m-350{margin:var(--space-350);}
.m-400{margin:var(--space-400);}
.m-450{margin:var(--space-450);}
.m-500{margin:var(--space-500);}
.m-600{margin:var(--space-600);}
.m-800{margin:var(--space-800);}
.m-900{margin:var(--space-900);}
.mt-000{margin-block-start:var(--space-000);}
.mt-100{margin-block-start:var(--space-100);}
.mt-1000{margin-block-start:var(--space-1000);}
.mt-1100{margin-block-start:var(--space-1100);}
.mt-1200{margin-block-start:var(--space-1200);}
.mt-1300{margin-block-start:var(--space-1300);}
.mt-1400{margin-block-start:var(--space-1400);}
.mt-150{margin-block-start:var(--space-150);}
.mt-200{margin-block-start:var(--space-200);}
.mt-250{margin-block-start:var(--space-250);}
.mt-300{margin-block-start:var(--space-300);}
.mt-350{margin-block-start:var(--space-350);}
.mt-400{margin-block-start:var(--space-400);}
.mt-450{margin-block-start:var(--space-450);}
.mt-500{margin-block-start:var(--space-500);}
.mt-600{margin-block-start:var(--space-600);}
.mt-800{margin-block-start:var(--space-800);}
.mt-900{margin-block-start:var(--space-900);}
.mr-000{margin-inline-end:var(--space-000);}
.mr-100{margin-inline-end:var(--space-100);}
.mr-1000{margin-inline-end:var(--space-1000);}
.mr-1100{margin-inline-end:var(--space-1100);}
.mr-1200{margin-inline-end:var(--space-1200);}
.mr-1300{margin-inline-end:var(--space-1300);}
.mr-1400{margin-inline-end:var(--space-1400);}
.mr-150{margin-inline-end:var(--space-150);}
.mr-200{margin-inline-end:var(--space-200);}
.mr-250{margin-inline-end:var(--space-250);}
.mr-300{margin-inline-end:var(--space-300);}
.mr-350{margin-inline-end:var(--space-350);}
.mr-400{margin-inline-end:var(--space-400);}
.mr-450{margin-inline-end:var(--space-450);}
.mr-500{margin-inline-end:var(--space-500);}
.mr-600{margin-inline-end:var(--space-600);}
.mr-800{margin-inline-end:var(--space-800);}
.mr-900{margin-inline-end:var(--space-900);}
.mb-000{margin-block-end:var(--space-000);}
.mb-100{margin-block-end:var(--space-100);}
.mb-1000{margin-block-end:var(--space-1000);}
.mb-1100{margin-block-end:var(--space-1100);}
.mb-1200{margin-block-end:var(--space-1200);}
.mb-1300{margin-block-end:var(--space-1300);}
.mb-1400{margin-block-end:var(--space-1400);}
.mb-150{margin-block-end:var(--space-150);}
.mb-200{margin-block-end:var(--space-200);}
.mb-250{margin-block-end:var(--space-250);}
.mb-300{margin-block-end:var(--space-300);}
.mb-350{margin-block-end:var(--space-350);}
.mb-400{margin-block-end:var(--space-400);}
.mb-450{margin-block-end:var(--space-450);}
.mb-500{margin-block-end:var(--space-500);}
.mb-600{margin-block-end:var(--space-600);}
.mb-800{margin-block-end:var(--space-800);}
.mb-900{margin-block-end:var(--space-900);}
.ml-000{margin-inline-start:var(--space-000);}
.ml-100{margin-inline-start:var(--space-100);}
.ml-1000{margin-inline-start:var(--space-1000);}
.ml-1100{margin-inline-start:var(--space-1100);}
.ml-1200{margin-inline-start:var(--space-1200);}
.ml-1300{margin-inline-start:var(--space-1300);}
.ml-1400{margin-inline-start:var(--space-1400);}
.ml-150{margin-inline-start:var(--space-150);}
.ml-200{margin-inline-start:var(--space-200);}
.ml-250{margin-inline-start:var(--space-250);}
.ml-300{margin-inline-start:var(--space-300);}
.ml-350{margin-inline-start:var(--space-350);}
.ml-400{margin-inline-start:var(--space-400);}
.ml-450{margin-inline-start:var(--space-450);}
.ml-500{margin-inline-start:var(--space-500);}
.ml-600{margin-inline-start:var(--space-600);}
.ml-800{margin-inline-start:var(--space-800);}
.ml-900{margin-inline-start:var(--space-900);}
.mx-000{margin-inline:var(--space-000);}
.mx-100{margin-inline:var(--space-100);}
.mx-1000{margin-inline:var(--space-1000);}
.mx-1100{margin-inline:var(--space-1100);}
.mx-1200{margin-inline:var(--space-1200);}
.mx-1300{margin-inline:var(--space-1300);}
.mx-1400{margin-inline:var(--space-1400);}
.mx-150{margin-inline:var(--space-150);}
.mx-200{margin-inline:var(--space-200);}
.mx-250{margin-inline:var(--space-250);}
.mx-300{margin-inline:var(--space-300);}
.mx-350{margin-inline:var(--space-350);}
.mx-400{margin-inline:var(--space-400);}
.mx-450{margin-inline:var(--space-450);}
.mx-500{margin-inline:var(--space-500);}
.mx-600{margin-inline:var(--space-600);}
.mx-800{margin-inline:var(--space-800);}
.mx-900{margin-inline:var(--space-900);}
.my-000{margin-block:var(--space-000);}
.my-100{margin-block:var(--space-100);}
.my-1000{margin-block:var(--space-1000);}
.my-1100{margin-block:var(--space-1100);}
.my-1200{margin-block:var(--space-1200);}
.my-1300{margin-block:var(--space-1300);}
.my-1400{margin-block:var(--space-1400);}
.my-150{margin-block:var(--space-150);}
.my-200{margin-block:var(--space-200);}
.my-250{margin-block:var(--space-250);}
.my-300{margin-block:var(--space-300);}
.my-350{margin-block:var(--space-350);}
.my-400{margin-block:var(--space-400);}
.my-450{margin-block:var(--space-450);}
.my-500{margin-block:var(--space-500);}
.my-600{margin-block:var(--space-600);}
.my-800{margin-block:var(--space-800);}
.my-900{margin-block:var(--space-900);}
.flow-space-000{--flow-space:var(--space-000);}
.flow-space-100{--flow-space:var(--space-100);}
.flow-space-1000{--flow-space:var(--space-1000);}
.flow-space-1100{--flow-space:var(--space-1100);}
.flow-space-1200{--flow-space:var(--space-1200);}
.flow-space-1300{--flow-space:var(--space-1300);}
.flow-space-1400{--flow-space:var(--space-1400);}
.flow-space-150{--flow-space:var(--space-150);}
.flow-space-200{--flow-space:var(--space-200);}
.flow-space-250{--flow-space:var(--space-250);}
.flow-space-300{--flow-space:var(--space-300);}
.flow-space-350{--flow-space:var(--space-350);}
.flow-space-400{--flow-space:var(--space-400);}
.flow-space-450{--flow-space:var(--space-450);}
.flow-space-500{--flow-space:var(--space-500);}
.flow-space-600{--flow-space:var(--space-600);}
.flow-space-800{--flow-space:var(--space-800);}
.flow-space-900{--flow-space:var(--space-900);}
.region-space-000{--region-space:var(--space-000);}
.region-space-100{--region-space:var(--space-100);}
.region-space-1000{--region-space:var(--space-1000);}
.region-space-1100{--region-space:var(--space-1100);}
.region-space-1200{--region-space:var(--space-1200);}
.region-space-1300{--region-space:var(--space-1300);}
.region-space-1400{--region-space:var(--space-1400);}
.region-space-150{--region-space:var(--space-150);}
.region-space-200{--region-space:var(--space-200);}
.region-space-250{--region-space:var(--space-250);}
.region-space-300{--region-space:var(--space-300);}
.region-space-350{--region-space:var(--space-350);}
.region-space-400{--region-space:var(--space-400);}
.region-space-450{--region-space:var(--space-450);}
.region-space-500{--region-space:var(--space-500);}
.region-space-600{--region-space:var(--space-600);}
.region-space-800{--region-space:var(--space-800);}
.region-space-900{--region-space:var(--space-900);}
.cluster-gap-000{--cluster-gap:var(--space-000);}
.cluster-gap-100{--cluster-gap:var(--space-100);}
.cluster-gap-1000{--cluster-gap:var(--space-1000);}
.cluster-gap-1100{--cluster-gap:var(--space-1100);}
.cluster-gap-1200{--cluster-gap:var(--space-1200);}
.cluster-gap-1300{--cluster-gap:var(--space-1300);}
.cluster-gap-1400{--cluster-gap:var(--space-1400);}
.cluster-gap-150{--cluster-gap:var(--space-150);}
.cluster-gap-200{--cluster-gap:var(--space-200);}
.cluster-gap-250{--cluster-gap:var(--space-250);}
.cluster-gap-300{--cluster-gap:var(--space-300);}
.cluster-gap-350{--cluster-gap:var(--space-350);}
.cluster-gap-400{--cluster-gap:var(--space-400);}
.cluster-gap-450{--cluster-gap:var(--space-450);}
.cluster-gap-500{--cluster-gap:var(--space-500);}
.cluster-gap-600{--cluster-gap:var(--space-600);}
.cluster-gap-800{--cluster-gap:var(--space-800);}
.cluster-gap-900{--cluster-gap:var(--space-900);}
.switcher-gap-000{--switcher-gap:var(--space-000);}
.switcher-gap-100{--switcher-gap:var(--space-100);}
.switcher-gap-1000{--switcher-gap:var(--space-1000);}
.switcher-gap-1100{--switcher-gap:var(--space-1100);}
.switcher-gap-1200{--switcher-gap:var(--space-1200);}
.switcher-gap-1300{--switcher-gap:var(--space-1300);}
.switcher-gap-1400{--switcher-gap:var(--space-1400);}
.switcher-gap-150{--switcher-gap:var(--space-150);}
.switcher-gap-200{--switcher-gap:var(--space-200);}
.switcher-gap-250{--switcher-gap:var(--space-250);}
.switcher-gap-300{--switcher-gap:var(--space-300);}
.switcher-gap-350{--switcher-gap:var(--space-350);}
.switcher-gap-400{--switcher-gap:var(--space-400);}
.switcher-gap-450{--switcher-gap:var(--space-450);}
.switcher-gap-500{--switcher-gap:var(--space-500);}
.switcher-gap-600{--switcher-gap:var(--space-600);}
.switcher-gap-800{--switcher-gap:var(--space-800);}
.switcher-gap-900{--switcher-gap:var(--space-900);}
.grid-gap-000{--grid-gap:var(--space-000);}
.grid-gap-100{--grid-gap:var(--space-100);}
.grid-gap-1000{--grid-gap:var(--space-1000);}
.grid-gap-1100{--grid-gap:var(--space-1100);}
.grid-gap-1200{--grid-gap:var(--space-1200);}
.grid-gap-1300{--grid-gap:var(--space-1300);}
.grid-gap-1400{--grid-gap:var(--space-1400);}
.grid-gap-150{--grid-gap:var(--space-150);}
.grid-gap-200{--grid-gap:var(--space-200);}
.grid-gap-250{--grid-gap:var(--space-250);}
.grid-gap-300{--grid-gap:var(--space-300);}
.grid-gap-350{--grid-gap:var(--space-350);}
.grid-gap-400{--grid-gap:var(--space-400);}
.grid-gap-450{--grid-gap:var(--space-450);}
.grid-gap-500{--grid-gap:var(--space-500);}
.grid-gap-600{--grid-gap:var(--space-600);}
.grid-gap-800{--grid-gap:var(--space-800);}
.grid-gap-900{--grid-gap:var(--space-900);}
.wrapper-max-width-2xl{--wrapper-max-width:var(--container-2xl);}
.wrapper-max-width-3xl{--wrapper-max-width:var(--container-3xl);}
.wrapper-max-width-4xl{--wrapper-max-width:var(--container-4xl);}
.wrapper-max-width-5xl{--wrapper-max-width:var(--container-5xl);}
.wrapper-max-width-6xl{--wrapper-max-width:var(--container-6xl);}
.wrapper-max-width-7xl{--wrapper-max-width:var(--container-7xl);}
.wrapper-max-width-8xl{--wrapper-max-width:var(--container-8xl);}
.wrapper-max-width-9xl{--wrapper-max-width:var(--container-9xl);}
.wrapper-max-width-lg{--wrapper-max-width:var(--container-lg);}
.wrapper-max-width-md{--wrapper-max-width:var(--container-md);}
.wrapper-max-width-sm{--wrapper-max-width:var(--container-sm);}
.wrapper-max-width-xl{--wrapper-max-width:var(--container-xl);}
.wrapper-max-width-xs{--wrapper-max-width:var(--container-xs);}
.gap-000{gap:var(--space-000);}
.gap-100{gap:var(--space-100);}
.gap-1000{gap:var(--space-1000);}
.gap-1100{gap:var(--space-1100);}
.gap-1200{gap:var(--space-1200);}
.gap-1300{gap:var(--space-1300);}
.gap-1400{gap:var(--space-1400);}
.gap-150{gap:var(--space-150);}
.gap-200{gap:var(--space-200);}
.gap-250{gap:var(--space-250);}
.gap-300{gap:var(--space-300);}
.gap-350{gap:var(--space-350);}
.gap-400{gap:var(--space-400);}
.gap-450{gap:var(--space-450);}
.gap-500{gap:var(--space-500);}
.gap-600{gap:var(--space-600);}
.gap-800{gap:var(--space-800);}
.gap-900{gap:var(--space-900);}
.text-accent{color:var(--color-text-accent);}
.text-accent-strong{color:var(--color-accent-strong);}
.text-accent-weak{color:var(--color-accent-weak);}
.text-accent-weakest{color:var(--color-accent-weakest);}
.text-base-black{color:var(--color-base-black);}
.text-base-white{color:var(--color-base-white);}
.text-bg-app{color:var(--color-bg-app);}
.text-bg-subtle{color:var(--color-bg-subtle);}
.text-blue-1{color:var(--color-blue-1);}
.text-blue-10{color:var(--color-blue-10);}
.text-blue-11{color:var(--color-blue-11);}
.text-blue-12{color:var(--color-blue-12);}
.text-blue-2{color:var(--color-blue-2);}
.text-blue-3{color:var(--color-blue-3);}
.text-blue-4{color:var(--color-blue-4);}
.text-blue-5{color:var(--color-blue-5);}
.text-blue-6{color:var(--color-blue-6);}
.text-blue-7{color:var(--color-blue-7);}
.text-blue-8{color:var(--color-blue-8);}
.text-blue-9{color:var(--color-blue-9);}
.text-border-accent{color:var(--color-border-accent);}
.text-border-default{color:var(--color-border-default);}
.text-border-hover{color:var(--color-border-hover);}
.text-border-subtle{color:var(--color-border-subtle);}
.text-component-accent{color:var(--color-component-accent);}
.text-component-default{color:var(--color-component-default);}
.text-component-hover{color:var(--color-component-hover);}
.text-component-modified{color:var(--color-component-modified);}
.text-diff-added-marker{color:var(--color-diff-added-marker);}
.text-diff-added-surface{color:var(--color-diff-added-surface);}
.text-diff-removed-marker{color:var(--color-diff-removed-marker);}
.text-diff-removed-surface{color:var(--color-diff-removed-surface);}
.text-gray-1{color:var(--color-gray-1);}
.text-gray-10{color:var(--color-gray-10);}
.text-gray-11{color:var(--color-gray-11);}
.text-gray-12{color:var(--color-gray-12);}
.text-gray-2{color:var(--color-gray-2);}
.text-gray-3{color:var(--color-gray-3);}
.text-gray-4{color:var(--color-gray-4);}
.text-gray-5{color:var(--color-gray-5);}
.text-gray-6{color:var(--color-gray-6);}
.text-gray-7{color:var(--color-gray-7);}
.text-gray-8{color:var(--color-gray-8);}
.text-gray-9{color:var(--color-gray-9);}
.text-green-3{color:var(--color-green-3);}
.text-green-9{color:var(--color-green-9);}
.text-link{color:var(--color-text-link);}
.text-modified{color:var(--color-text-modified);}
.text-neutral-medium{color:var(--color-neutral-medium);}
.text-neutral-strong{color:var(--color-neutral-strong);}
.text-neutral-weak{color:var(--color-neutral-weak);}
.text-neutral-weakest{color:var(--color-neutral-weakest);}
.text-on-solid{color:var(--color-on-solid);}
.text-pink-1{color:var(--color-pink-1);}
.text-pink-10{color:var(--color-pink-10);}
.text-pink-11{color:var(--color-pink-11);}
.text-pink-12{color:var(--color-pink-12);}
.text-pink-2{color:var(--color-pink-2);}
.text-pink-3{color:var(--color-pink-3);}
.text-pink-4{color:var(--color-pink-4);}
.text-pink-5{color:var(--color-pink-5);}
.text-pink-6{color:var(--color-pink-6);}
.text-pink-7{color:var(--color-pink-7);}
.text-pink-8{color:var(--color-pink-8);}
.text-pink-9{color:var(--color-pink-9);}
.text-placeholder{color:var(--color-text-placeholder);}
.text-primary{color:var(--color-text-primary);}
.text-quietest{color:var(--color-text-quietest);}
.text-red-3{color:var(--color-red-3);}
.text-red-9{color:var(--color-red-9);}
.text-secondary{color:var(--color-text-secondary);}
.text-solid-default{color:var(--color-solid-default);}
.text-solid-hover{color:var(--color-solid-hover);}
.text-surface-border{color:var(--color-surface-border);}
.text-surface-lowered{color:var(--color-surface-lowered);}
.text-surface-lowest{color:var(--color-surface-lowest);}
.text-surface-z0{color:var(--color-surface-z0);}
.text-surface-z1{color:var(--color-surface-z1);}
.text-tertiary{color:var(--color-text-tertiary);}
.bg-accent-strong{background-color:var(--color-accent-strong);}
.bg-accent-weak{background-color:var(--color-accent-weak);}
.bg-accent-weakest{background-color:var(--color-accent-weakest);}
.bg-base-black{background-color:var(--color-base-black);}
.bg-base-white{background-color:var(--color-base-white);}
.bg-bg-app{background-color:var(--color-bg-app);}
.bg-bg-subtle{background-color:var(--color-bg-subtle);}
.bg-blue-1{background-color:var(--color-blue-1);}
.bg-blue-10{background-color:var(--color-blue-10);}
.bg-blue-11{background-color:var(--color-blue-11);}
.bg-blue-12{background-color:var(--color-blue-12);}
.bg-blue-2{background-color:var(--color-blue-2);}
.bg-blue-3{background-color:var(--color-blue-3);}
.bg-blue-4{background-color:var(--color-blue-4);}
.bg-blue-5{background-color:var(--color-blue-5);}
.bg-blue-6{background-color:var(--color-blue-6);}
.bg-blue-7{background-color:var(--color-blue-7);}
.bg-blue-8{background-color:var(--color-blue-8);}
.bg-blue-9{background-color:var(--color-blue-9);}
.bg-border-accent{background-color:var(--color-border-accent);}
.bg-border-default{background-color:var(--color-border-default);}
.bg-border-hover{background-color:var(--color-border-hover);}
.bg-border-subtle{background-color:var(--color-border-subtle);}
.bg-component-accent{background-color:var(--color-component-accent);}
.bg-component-default{background-color:var(--color-component-default);}
.bg-component-hover{background-color:var(--color-component-hover);}
.bg-component-modified{background-color:var(--color-component-modified);}
.bg-diff-added-marker{background-color:var(--color-diff-added-marker);}
.bg-diff-added-surface{background-color:var(--color-diff-added-surface);}
.bg-diff-removed-marker{background-color:var(--color-diff-removed-marker);}
.bg-diff-removed-surface{background-color:var(--color-diff-removed-surface);}
.bg-gray-1{background-color:var(--color-gray-1);}
.bg-gray-10{background-color:var(--color-gray-10);}
.bg-gray-11{background-color:var(--color-gray-11);}
.bg-gray-12{background-color:var(--color-gray-12);}
.bg-gray-2{background-color:var(--color-gray-2);}
.bg-gray-3{background-color:var(--color-gray-3);}
.bg-gray-4{background-color:var(--color-gray-4);}
.bg-gray-5{background-color:var(--color-gray-5);}
.bg-gray-6{background-color:var(--color-gray-6);}
.bg-gray-7{background-color:var(--color-gray-7);}
.bg-gray-8{background-color:var(--color-gray-8);}
.bg-gray-9{background-color:var(--color-gray-9);}
.bg-green-3{background-color:var(--color-green-3);}
.bg-green-9{background-color:var(--color-green-9);}
.bg-neutral-medium{background-color:var(--color-neutral-medium);}
.bg-neutral-strong{background-color:var(--color-neutral-strong);}
.bg-neutral-weak{background-color:var(--color-neutral-weak);}
.bg-neutral-weakest{background-color:var(--color-neutral-weakest);}
.bg-on-solid{background-color:var(--color-on-solid);}
.bg-pink-1{background-color:var(--color-pink-1);}
.bg-pink-10{background-color:var(--color-pink-10);}
.bg-pink-11{background-color:var(--color-pink-11);}
.bg-pink-12{background-color:var(--color-pink-12);}
.bg-pink-2{background-color:var(--color-pink-2);}
.bg-pink-3{background-color:var(--color-pink-3);}
.bg-pink-4{background-color:var(--color-pink-4);}
.bg-pink-5{background-color:var(--color-pink-5);}
.bg-pink-6{background-color:var(--color-pink-6);}
.bg-pink-7{background-color:var(--color-pink-7);}
.bg-pink-8{background-color:var(--color-pink-8);}
.bg-pink-9{background-color:var(--color-pink-9);}
.bg-red-3{background-color:var(--color-red-3);}
.bg-red-9{background-color:var(--color-red-9);}
.bg-solid-default{background-color:var(--color-solid-default);}
.bg-solid-hover{background-color:var(--color-solid-hover);}
.bg-surface-border{background-color:var(--color-surface-border);}
.bg-surface-lowered{background-color:var(--color-surface-lowered);}
.bg-surface-lowest{background-color:var(--color-surface-lowest);}
.bg-surface-z0{background-color:var(--color-surface-z0);}
.bg-surface-z1{background-color:var(--color-surface-z1);}
.bg-text-accent{background-color:var(--color-text-accent);}
.bg-text-link{background-color:var(--color-text-link);}
.bg-text-modified{background-color:var(--color-text-modified);}
.bg-text-placeholder{background-color:var(--color-text-placeholder);}
.bg-text-primary{background-color:var(--color-text-primary);}
.bg-text-quietest{background-color:var(--color-text-quietest);}
.bg-text-secondary{background-color:var(--color-text-secondary);}
.bg-text-tertiary{background-color:var(--color-text-tertiary);}
.font-weight-bold{font-weight:var(--font-weight-bold);}
.font-weight-medium{font-weight:var(--font-weight-medium);}
.font-weight-normal{font-weight:var(--font-weight-normal);}
.font-weight-semibold{font-weight:var(--font-weight-semibold);}
.font-body{font-family:var(--font-body);}
.font-heading{font-family:var(--font-heading);}
.font-mono{font-family:var(--font-mono);}
.font-sans{font-family:var(--font-sans);}
.font-serif{font-family:var(--font-serif);}
.rounded-000{border-radius:var(--radius-000);}
.rounded-050{border-radius:var(--radius-050);}
.rounded-100{border-radius:var(--radius-100);}
.rounded-150{border-radius:var(--radius-150);}
.rounded-200{border-radius:var(--radius-200);}
.rounded-250{border-radius:var(--radius-250);}
.rounded-300{border-radius:var(--radius-300);}
.rounded-400{border-radius:var(--radius-400);}
.rounded-500{border-radius:var(--radius-500);}
.rounded-600{border-radius:var(--radius-600);}
.rounded-700{border-radius:var(--radius-700);}
.rounded-800{border-radius:var(--radius-800);}
.rounded-button{border-radius:var(--radius-button);}
.rounded-full{border-radius:var(--radius-full);}
.rounded-none{border-radius:var(--radius-none);}