.textarea {
    outline-style: none;
    transition-property: border-color, box-shadow;
    transition-timing-function: var(--ease-out);
    transition-duration: var(--transition-normal);
}

.textarea:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.textarea:focus-visible {
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--color-fill-loud) 25%, transparent);
    outline: none;
    border-color: var(--color-fill-loud);
}
