.tabs-list {
    display: inline-flex;
    background-color: transparent;
    height: 100%;
}

.tabs-trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: inherit;
    padding-block: 0;
    padding-inline: var(--space-300);
    background-color: transparent;
    border-width: var(--border-width-thin);
    border-style: var(--border-style);
    border-color: transparent;
    color: var(--color-text-primary);
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: var(--ease-out);
    transition-duration: var(--transition-normal);
    outline-style: none;
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-tertiary);
}

.studio-tabs-trigger[data-state="active"] {
    box-shadow: none;
    color: var(--color-text-primary);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset-inline: 0;
        inset-block-end: -1.5px;
        block-size: 1.5px;
        background: var(--color-gray-12);
    }
}
