@import "@/registry/components/button/react/button.css";
@import "@/registry/components/card/react/card.css";
@import "@/registry/components/input/react/input.css";
@import "@/registry/components/label/react/label.css";
@import "@/registry/components/checkbox/react/checkbox.css";
@import "@/registry/components/radio-group/react/radio-group.css";
@import "@/registry/components/select/react/select.css";
@import "@/registry/components/switch/react/switch.css";
@import "@/registry/components/accordion/react/accordion.css";
@import "@/registry/components/alert/react/alert.css";
@import "@/registry/components/avatar/react/avatar.css";
@import "@/registry/components/badge/react/badge.css";
@import "@/registry/components/dialog/react/dialog.css";
@import "@/registry/components/dropdown-menu/react/dropdown-menu.css";
@import "@/registry/components/popover/react/popover.css";
@import "@/registry/components/tabs/react/tabs.css";
@import "@/registry/components/command/react/command.css";
@import "@/registry/components/breadcrumb/react/breadcrumb.css";
@import "@/registry/components/textarea/react/textarea.css";
@import "./react-examples.css";
