.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font: inherit;
    font-size: var(--text-sm);
    border-color: transparent;
    padding-block: 0;
    border-radius: var(--radius-button);
    border-style: var(--border-style);
    border-width: var(--border-width-thin);
    box-shadow: var(--shadow-xs);
    font-weight: var(--font-weight-medium);
    gap: var(--space-100);
    transition-property: color, background-color, border-color;
    transition-timing-function: var(--ease-out);
    transition-duration: var(--transition-normal);

    height: 1.625rem;
    padding-block: var(--space-150);
    padding-inline: var(--space-300);
}

.button:not([data-role]),
.button[data-role="primary"] {
    background: var(--r-primary-background);
    color: var(--r-primary-foreground);
    --v-icon: var(--r-primary-icon);

    &:hover {
        background: var(--r-primary-background-hover);
        --v-icon: var(--r-primary-icon-hover);
    }
}

.button[data-role="secondary"] {
    background: var(--r-secondary-background);
    color: var(--r-secondary-foreground);
    --v-icon: var(--r-secondary-icon);

    &:hover {
        background: var(--r-secondary-background-hover);
        color: var(--r-secondary-foreground-hover);
        --v-icon: var(--r-secondary-icon-hover);
    }
}

.button[data-role="tertiary"] {
    background: var(--r-tertiary-background);
    color: var(--r-tertiary-foreground);
    border-color: var(--color-gray-7);

    &:hover {
        color: var(--r-tertiary-foreground-hover);
        --v-icon: var(--r-tertiary-icon-hover);
    }
}
