---
/**
 * SiteTabsList.astro
 * Container for site tab triggers
 */

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div data-site-tabs-list class:list={["site-tabs-list", className]}>
    <slot />
</div>
