.readme :is(p) {
    max-width: 45rem;
    color: var(--color-text-quiet);
    line-height: var(--leading-relaxed);
}

.readme :is(h2) {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-semibold);
}

.readme :is(h2) > span {
    color: var(--color-text-quiet);
    margin-inline-end: var(--space-2xs);
}

.readme :is(li) {
    color: var(--color-text-quiet);
}

.readme :is(ul > li > a) {
    color: var(--color-text-quiet);
    transition: color var(--transition-normal) var(--ease-out);
}

.readme :is(ul > li > a):hover {
    color: var(--color-text-normal);
}