.readme :is(hr) {
    --flow-space: var(--space-sm);
}

.readme :is(p) {
    max-width: 45rem;
    line-height: var(--leading-body);
}

.readme :is(h2) {
    font-size: var(--text-2xl);
}

.readme :is(h2) > span {
    color: var(--color-text-quiet);
    margin-inline-end: var(--space-2xs);
}

.readme :is(li) {
    color: var(--color-text-quiet);
}

.readme :is(ul > li > a) {
    transition: color var(--transition-normal) var(--ease-out);
}

.readme .site-hero :is(p) {
    font-size: var(--body-large);
}

.readme :is(a):not(.site-button) {
    text-decoration-style: dotted;
}
