.services {
    padding-inline: var(--space-lg);
    max-width: var(--container-md);
}

.services :is(h1) {
    font-size: var(--text-3xl);
    text-wrap: pretty;
}

.services :is(p) {
    color: var(--color-text-quiet);
}

.services :is(a) {
    text-decoration-style: dotted;
}

.services :is(ul) li {
    color: var(--color-text-quiet);
}

@media (max-width: 50rem) {
    .services {
        padding-inline: 1rem;
    }
}
