.site-code-block {
    --_padding-block: 0.65em;
    --_form-control-height: round(calc(2 * var(--_padding-block) + 1em * 1.25), 1px);

    background-color: color-mix(in oklab, var(--color-fill-normal) 50%, transparent);
    border-radius: var(--form-control-border-radius);
    font-size: var(--text-sm);
    display: inline-flex;
    gap: var(--space-3xs);
    align-items: center;
    position: relative;
    padding-inline-start: var(--space-2xs);
    border: var(--border-width-thin) var(--border-style) var(--color-border-normal);
    min-height: var(--_form-control-height);
}

.site-code-block code {
    background-color: transparent;
    color: var(--color-on-normal);
}

.site-code-block [data-copy-button] {
    background-color: transparent;
    box-shadow: none;
    border: none;
    min-height: auto;
    color: var(--color-text-quiet);
    transition: color var(--transition-normal) ease, scale var(--transition-normal) ease;
}

.site-code-block [data-copy-button]:hover {
    color: var(--color-text-normal);
    scale: 1.1;
}

.site-code-block [data-copy-button]:focus-visible {
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--color-fill-loud) 25%, transparent);
    outline: none;
    border-color: transparent;
}

.site-code-block-tooltip {
    position: absolute;
    bottom: -2.2rem;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-normal) ease;
}

.site-code-block-tooltip[data-visible="true"] {
    opacity: 1;
    visibility: visible;
    background-color: var(--color-accent-fill-normal);
    color: var(--color-accent-on-normal);
    padding-inline: var(--space-2xs);
    padding-block: var(--space-3xs);
    border-radius: var(--form-control-border-radius);
    border: var(--border-width-thin) var(--border-style) var(--color-accent-border-normal);
}
