---
import ComponentWrapper from "@/src/components/ComponentWrapper.astro";
import ClusterDemo from "@/src/components/compositions/cluster-demo.astro";
import FlowDemo from "@/src/components/compositions/flow-demo.astro";
import GridDemo from "@/src/components/compositions/grid-demo.astro";
import RepelDemo from "@/src/components/compositions/repel-demo.astro";
import SidebarDemo from "@/src/components/compositions/sidebar-demo.astro";
import SwitcherDemo from "@/src/components/compositions/switcher-demo.astro";
import WrapperDemo from "@/src/components/compositions/wrapper-demo.astro";
import BaseLayout from "@/src/layouts/BaseLayout.astro";
---

<BaseLayout meta={{ title: "Compositions" }}>
    <div class="wrapper region flow">
        <ComponentWrapper name="flow">
            <FlowDemo />
        </ComponentWrapper>
        <ComponentWrapper name="cluster">
            <ClusterDemo />
        </ComponentWrapper>
        <ComponentWrapper name="grid-auto">
            <GridDemo />
        </ComponentWrapper>
        <ComponentWrapper name="repel">
            <RepelDemo />
        </ComponentWrapper>
        <ComponentWrapper name="sidebar">
            <SidebarDemo />
        </ComponentWrapper>
        <ComponentWrapper name="switcher">
            <SwitcherDemo />
        </ComponentWrapper>
        <ComponentWrapper name="wrapper">
            <WrapperDemo />
        </ComponentWrapper>
    </div>
</BaseLayout>
