---
import { BreadcrumbDemo } from "@/registry/examples/breadcrumb-demo.tsx";
// import { CommandDemo } from "@/registry/examples/command-demo.tsx";
import { CommandDialogDemo } from "@/registry/examples/command-dialog";
import { DialogDemo } from "@/registry/examples/dialog-demo.tsx";
import { PopoverDemo } from "@/registry/examples/popover-demo.tsx";
import { TextareaDemo } from "@/registry/examples/textarea-demo.tsx";
import ComponentWrapper from "@/src/components/ComponentWrapper.astro";
import { AccordionDemo } from "@/src/components/sink/accordion-demo.tsx";
import { AlertDemo } from "@/src/components/sink/alert-demo.tsx";
import { AvatarDemo } from "@/src/components/sink/avatar-demo.tsx";
import { BadgeDemo } from "@/src/components/sink/badge-demo.tsx";
import { ButtonDemo } from "@/src/components/sink/button-demo.tsx";
import { CardDemo } from "@/src/components/sink/card-demo.tsx";
import { CheckboxDemo } from "@/src/components/sink/checkbox-demo.tsx";
import { ComboboxDemo } from "@/src/components/sink/combobox-demo.tsx";
import { DropdownMenuDemo } from "@/src/components/sink/dropdown-menu-demo.tsx";
import { InputDemo } from "@/src/components/sink/input-demo.tsx";
import { LabelDemo } from "@/src/components/sink/label-demo.tsx";
import { RadioGroupDemo } from "@/src/components/sink/radio-group-demo.tsx";
import { SelectDemo } from "@/src/components/sink/select-demo.tsx";
import { SwitchDemo } from "@/src/components/sink/switch-demo.tsx";
import { TabsDemo } from "@/src/components/sink/tabs-demo.tsx";
import BaseLayout from "@/src/layouts/BaseLayout.astro";
import "@/src/styles/react-components.css";
---

<BaseLayout meta={{ title: "Sink" }}>
    <div class="wrapper region flow">
        <ComponentWrapper name="accordion">
            <AccordionDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="alert">
            <AlertDemo />
        </ComponentWrapper>
        <ComponentWrapper name="avatar">
            <AvatarDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="badge">
            <BadgeDemo />
        </ComponentWrapper>
        <ComponentWrapper name="breadcrumb">
            <BreadcrumbDemo />
        </ComponentWrapper>
        <ComponentWrapper name="button">
            <ButtonDemo />
        </ComponentWrapper>
        <ComponentWrapper name="card">
            <CardDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="checkbox">
            <CheckboxDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="combobox">
            <ComboboxDemo client:load />
        </ComponentWrapper>
        <!-- <ComponentWrapper name="command">
            <CommandDemo client:load />
        </ComponentWrapper> -->
        <ComponentWrapper name="command-dialog">
            <CommandDialogDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="dialog">
            <DialogDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="dropdown-menu">
            <DropdownMenuDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="input">
            <InputDemo />
        </ComponentWrapper>
        <ComponentWrapper name="label">
            <LabelDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="popover">
            <PopoverDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="radio-group">
            <RadioGroupDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="select">
            <SelectDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="switch">
            <SwitchDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="tabs">
            <TabsDemo client:load />
        </ComponentWrapper>
        <ComponentWrapper name="textarea">
            <TextareaDemo />
        </ComponentWrapper>
    </div>
</BaseLayout>
