.button {
    --scale: calc(var(--form-control-font-size, var(--text-base)) / 1rem);
    
    /* Height: (padding × 2 × scale) + (1em × line-height), rounded to nearest px */
     --form-control-height: round(
        calc(
            2 * var(--form-control-padding-block) * var(--scale) +
            1em * var(--form-control-line-height)
        ),
        1px
    );

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: inherit;
    font-family: inherit;
    border-color: transparent;
    padding-block: 0;
    background-color: var(--color-fill-loud, var(--color-neutral-fill-loud));
    border-radius: var(--form-control-border-radius);
    border-style: var(--border-style);
    border-width: var(--border-width-thin);
    box-shadow: var(--shadow-xs);
    color: var(--color-on-loud, var(--color-neutral-on-normal));
    font-weight: var(--font-weight-medium);
    gap: var(--space-2xs);
    min-height: var(--form-control-height);
    padding-inline: var(--form-control-padding-inline);
    transition-property: color, background-color, border-color;
    transition-timing-function: var(--ease-out);
    transition-duration: var(--transition-normal);
}

.button:hover {
    background-color: color-mix(
        in oklab,
        var(--color-fill-loud, var(--color-neutral-fill-loud)),
        var(--color-mix-hover, black 5%)
    );
}

.button:active {
    background-color: color-mix(
        in oklab,
        var(--color-fill-loud, var(--color-neutral-fill-loud)),
        var(--color-mix-active, black 10%)
    );
}

.button:focus-visible {
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--color-fill-loud) 25%, transparent);
    outline: none;
    border-color: var(--color-fill-loud);
}
