/* layer: default */
.text-2xl{font-size:var(--text-2xl);}
.text-3xl{font-size:var(--text-3xl);}
.text-4xl{font-size:var(--text-4xl);}
.text-5xl{font-size:var(--text-5xl);}
.text-6xl{font-size:var(--text-6xl);}
.text-7xl{font-size:var(--text-7xl);}
.text-8xl{font-size:var(--text-8xl);}
.text-9xl{font-size:var(--text-9xl);}
.text-base{font-size:var(--text-base);}
.text-lg{font-size:var(--text-lg);}
.text-sm{font-size:var(--text-sm);}
.text-xl{font-size:var(--text-xl);}
.text-xs{font-size:var(--text-xs);}
.tracking-normal{letter-spacing:var(--tracking-normal);}
.tracking-tight{letter-spacing:var(--tracking-tight);}
.tracking-wide{letter-spacing:var(--tracking-wide);}
.p-0{padding:var(--space-0);}
.p-2xl{padding:var(--space-2xl);}
.p-2xl-3xl{padding:var(--space-2xl-3xl);}
.p-2xs{padding:var(--space-2xs);}
.p-2xs-xs{padding:var(--space-2xs-xs);}
.p-3xl{padding:var(--space-3xl);}
.p-3xs{padding:var(--space-3xs);}
.p-3xs-2xs{padding:var(--space-3xs-2xs);}
.p-lg{padding:var(--space-lg);}
.p-lg-xl{padding:var(--space-lg-xl);}
.p-md{padding:var(--space-md);}
.p-md-lg{padding:var(--space-md-lg);}
.p-sm{padding:var(--space-sm);}
.p-sm-md{padding:var(--space-sm-md);}
.p-xl{padding:var(--space-xl);}
.p-xl-2xl{padding:var(--space-xl-2xl);}
.p-xs{padding:var(--space-xs);}
.p-xs-sm{padding:var(--space-xs-sm);}
.pt-0{padding-block-start:var(--space-0);}
.pt-2xl{padding-block-start:var(--space-2xl);}
.pt-2xl-3xl{padding-block-start:var(--space-2xl-3xl);}
.pt-2xs{padding-block-start:var(--space-2xs);}
.pt-2xs-xs{padding-block-start:var(--space-2xs-xs);}
.pt-3xl{padding-block-start:var(--space-3xl);}
.pt-3xs{padding-block-start:var(--space-3xs);}
.pt-3xs-2xs{padding-block-start:var(--space-3xs-2xs);}
.pt-lg{padding-block-start:var(--space-lg);}
.pt-lg-xl{padding-block-start:var(--space-lg-xl);}
.pt-md{padding-block-start:var(--space-md);}
.pt-md-lg{padding-block-start:var(--space-md-lg);}
.pt-sm{padding-block-start:var(--space-sm);}
.pt-sm-md{padding-block-start:var(--space-sm-md);}
.pt-xl{padding-block-start:var(--space-xl);}
.pt-xl-2xl{padding-block-start:var(--space-xl-2xl);}
.pt-xs{padding-block-start:var(--space-xs);}
.pt-xs-sm{padding-block-start:var(--space-xs-sm);}
.pr-0{padding-inline-end:var(--space-0);}
.pr-2xl{padding-inline-end:var(--space-2xl);}
.pr-2xl-3xl{padding-inline-end:var(--space-2xl-3xl);}
.pr-2xs{padding-inline-end:var(--space-2xs);}
.pr-2xs-xs{padding-inline-end:var(--space-2xs-xs);}
.pr-3xl{padding-inline-end:var(--space-3xl);}
.pr-3xs{padding-inline-end:var(--space-3xs);}
.pr-3xs-2xs{padding-inline-end:var(--space-3xs-2xs);}
.pr-lg{padding-inline-end:var(--space-lg);}
.pr-lg-xl{padding-inline-end:var(--space-lg-xl);}
.pr-md{padding-inline-end:var(--space-md);}
.pr-md-lg{padding-inline-end:var(--space-md-lg);}
.pr-sm{padding-inline-end:var(--space-sm);}
.pr-sm-md{padding-inline-end:var(--space-sm-md);}
.pr-xl{padding-inline-end:var(--space-xl);}
.pr-xl-2xl{padding-inline-end:var(--space-xl-2xl);}
.pr-xs{padding-inline-end:var(--space-xs);}
.pr-xs-sm{padding-inline-end:var(--space-xs-sm);}
.pb-0{padding-block-end:var(--space-0);}
.pb-2xl{padding-block-end:var(--space-2xl);}
.pb-2xl-3xl{padding-block-end:var(--space-2xl-3xl);}
.pb-2xs{padding-block-end:var(--space-2xs);}
.pb-2xs-xs{padding-block-end:var(--space-2xs-xs);}
.pb-3xl{padding-block-end:var(--space-3xl);}
.pb-3xs{padding-block-end:var(--space-3xs);}
.pb-3xs-2xs{padding-block-end:var(--space-3xs-2xs);}
.pb-lg{padding-block-end:var(--space-lg);}
.pb-lg-xl{padding-block-end:var(--space-lg-xl);}
.pb-md{padding-block-end:var(--space-md);}
.pb-md-lg{padding-block-end:var(--space-md-lg);}
.pb-sm{padding-block-end:var(--space-sm);}
.pb-sm-md{padding-block-end:var(--space-sm-md);}
.pb-xl{padding-block-end:var(--space-xl);}
.pb-xl-2xl{padding-block-end:var(--space-xl-2xl);}
.pb-xs{padding-block-end:var(--space-xs);}
.pb-xs-sm{padding-block-end:var(--space-xs-sm);}
.pl-0{padding-inline-start:var(--space-0);}
.pl-2xl{padding-inline-start:var(--space-2xl);}
.pl-2xl-3xl{padding-inline-start:var(--space-2xl-3xl);}
.pl-2xs{padding-inline-start:var(--space-2xs);}
.pl-2xs-xs{padding-inline-start:var(--space-2xs-xs);}
.pl-3xl{padding-inline-start:var(--space-3xl);}
.pl-3xs{padding-inline-start:var(--space-3xs);}
.pl-3xs-2xs{padding-inline-start:var(--space-3xs-2xs);}
.pl-lg{padding-inline-start:var(--space-lg);}
.pl-lg-xl{padding-inline-start:var(--space-lg-xl);}
.pl-md{padding-inline-start:var(--space-md);}
.pl-md-lg{padding-inline-start:var(--space-md-lg);}
.pl-sm{padding-inline-start:var(--space-sm);}
.pl-sm-md{padding-inline-start:var(--space-sm-md);}
.pl-xl{padding-inline-start:var(--space-xl);}
.pl-xl-2xl{padding-inline-start:var(--space-xl-2xl);}
.pl-xs{padding-inline-start:var(--space-xs);}
.pl-xs-sm{padding-inline-start:var(--space-xs-sm);}
.px-0{padding-inline:var(--space-0);}
.px-2xl{padding-inline:var(--space-2xl);}
.px-2xl-3xl{padding-inline:var(--space-2xl-3xl);}
.px-2xs{padding-inline:var(--space-2xs);}
.px-2xs-xs{padding-inline:var(--space-2xs-xs);}
.px-3xl{padding-inline:var(--space-3xl);}
.px-3xs{padding-inline:var(--space-3xs);}
.px-3xs-2xs{padding-inline:var(--space-3xs-2xs);}
.px-lg{padding-inline:var(--space-lg);}
.px-lg-xl{padding-inline:var(--space-lg-xl);}
.px-md{padding-inline:var(--space-md);}
.px-md-lg{padding-inline:var(--space-md-lg);}
.px-sm{padding-inline:var(--space-sm);}
.px-sm-md{padding-inline:var(--space-sm-md);}
.px-xl{padding-inline:var(--space-xl);}
.px-xl-2xl{padding-inline:var(--space-xl-2xl);}
.px-xs{padding-inline:var(--space-xs);}
.px-xs-sm{padding-inline:var(--space-xs-sm);}
.py-0{padding-block:var(--space-0);}
.py-2xl{padding-block:var(--space-2xl);}
.py-2xl-3xl{padding-block:var(--space-2xl-3xl);}
.py-2xs{padding-block:var(--space-2xs);}
.py-2xs-xs{padding-block:var(--space-2xs-xs);}
.py-3xl{padding-block:var(--space-3xl);}
.py-3xs{padding-block:var(--space-3xs);}
.py-3xs-2xs{padding-block:var(--space-3xs-2xs);}
.py-lg{padding-block:var(--space-lg);}
.py-lg-xl{padding-block:var(--space-lg-xl);}
.py-md{padding-block:var(--space-md);}
.py-md-lg{padding-block:var(--space-md-lg);}
.py-sm{padding-block:var(--space-sm);}
.py-sm-md{padding-block:var(--space-sm-md);}
.py-xl{padding-block:var(--space-xl);}
.py-xl-2xl{padding-block:var(--space-xl-2xl);}
.py-xs{padding-block:var(--space-xs);}
.py-xs-sm{padding-block:var(--space-xs-sm);}
.m-0{margin:var(--space-0);}
.m-2xl{margin:var(--space-2xl);}
.m-2xl-3xl{margin:var(--space-2xl-3xl);}
.m-2xs{margin:var(--space-2xs);}
.m-2xs-xs{margin:var(--space-2xs-xs);}
.m-3xl{margin:var(--space-3xl);}
.m-3xs{margin:var(--space-3xs);}
.m-3xs-2xs{margin:var(--space-3xs-2xs);}
.m-lg{margin:var(--space-lg);}
.m-lg-xl{margin:var(--space-lg-xl);}
.m-md{margin:var(--space-md);}
.m-md-lg{margin:var(--space-md-lg);}
.m-sm{margin:var(--space-sm);}
.m-sm-md{margin:var(--space-sm-md);}
.m-xl{margin:var(--space-xl);}
.m-xl-2xl{margin:var(--space-xl-2xl);}
.m-xs{margin:var(--space-xs);}
.m-xs-sm{margin:var(--space-xs-sm);}
.mt-0{margin-block-start:var(--space-0);}
.mt-2xl{margin-block-start:var(--space-2xl);}
.mt-2xl-3xl{margin-block-start:var(--space-2xl-3xl);}
.mt-2xs{margin-block-start:var(--space-2xs);}
.mt-2xs-xs{margin-block-start:var(--space-2xs-xs);}
.mt-3xl{margin-block-start:var(--space-3xl);}
.mt-3xs{margin-block-start:var(--space-3xs);}
.mt-3xs-2xs{margin-block-start:var(--space-3xs-2xs);}
.mt-lg{margin-block-start:var(--space-lg);}
.mt-lg-xl{margin-block-start:var(--space-lg-xl);}
.mt-md{margin-block-start:var(--space-md);}
.mt-md-lg{margin-block-start:var(--space-md-lg);}
.mt-sm{margin-block-start:var(--space-sm);}
.mt-sm-md{margin-block-start:var(--space-sm-md);}
.mt-xl{margin-block-start:var(--space-xl);}
.mt-xl-2xl{margin-block-start:var(--space-xl-2xl);}
.mt-xs{margin-block-start:var(--space-xs);}
.mt-xs-sm{margin-block-start:var(--space-xs-sm);}
.mr-0{margin-inline-end:var(--space-0);}
.mr-2xl{margin-inline-end:var(--space-2xl);}
.mr-2xl-3xl{margin-inline-end:var(--space-2xl-3xl);}
.mr-2xs{margin-inline-end:var(--space-2xs);}
.mr-2xs-xs{margin-inline-end:var(--space-2xs-xs);}
.mr-3xl{margin-inline-end:var(--space-3xl);}
.mr-3xs{margin-inline-end:var(--space-3xs);}
.mr-3xs-2xs{margin-inline-end:var(--space-3xs-2xs);}
.mr-lg{margin-inline-end:var(--space-lg);}
.mr-lg-xl{margin-inline-end:var(--space-lg-xl);}
.mr-md{margin-inline-end:var(--space-md);}
.mr-md-lg{margin-inline-end:var(--space-md-lg);}
.mr-sm{margin-inline-end:var(--space-sm);}
.mr-sm-md{margin-inline-end:var(--space-sm-md);}
.mr-xl{margin-inline-end:var(--space-xl);}
.mr-xl-2xl{margin-inline-end:var(--space-xl-2xl);}
.mr-xs{margin-inline-end:var(--space-xs);}
.mr-xs-sm{margin-inline-end:var(--space-xs-sm);}
.mb-0{margin-block-end:var(--space-0);}
.mb-2xl{margin-block-end:var(--space-2xl);}
.mb-2xl-3xl{margin-block-end:var(--space-2xl-3xl);}
.mb-2xs{margin-block-end:var(--space-2xs);}
.mb-2xs-xs{margin-block-end:var(--space-2xs-xs);}
.mb-3xl{margin-block-end:var(--space-3xl);}
.mb-3xs{margin-block-end:var(--space-3xs);}
.mb-3xs-2xs{margin-block-end:var(--space-3xs-2xs);}
.mb-lg{margin-block-end:var(--space-lg);}
.mb-lg-xl{margin-block-end:var(--space-lg-xl);}
.mb-md{margin-block-end:var(--space-md);}
.mb-md-lg{margin-block-end:var(--space-md-lg);}
.mb-sm{margin-block-end:var(--space-sm);}
.mb-sm-md{margin-block-end:var(--space-sm-md);}
.mb-xl{margin-block-end:var(--space-xl);}
.mb-xl-2xl{margin-block-end:var(--space-xl-2xl);}
.mb-xs{margin-block-end:var(--space-xs);}
.mb-xs-sm{margin-block-end:var(--space-xs-sm);}
.ml-0{margin-inline-start:var(--space-0);}
.ml-2xl{margin-inline-start:var(--space-2xl);}
.ml-2xl-3xl{margin-inline-start:var(--space-2xl-3xl);}
.ml-2xs{margin-inline-start:var(--space-2xs);}
.ml-2xs-xs{margin-inline-start:var(--space-2xs-xs);}
.ml-3xl{margin-inline-start:var(--space-3xl);}
.ml-3xs{margin-inline-start:var(--space-3xs);}
.ml-3xs-2xs{margin-inline-start:var(--space-3xs-2xs);}
.ml-lg{margin-inline-start:var(--space-lg);}
.ml-lg-xl{margin-inline-start:var(--space-lg-xl);}
.ml-md{margin-inline-start:var(--space-md);}
.ml-md-lg{margin-inline-start:var(--space-md-lg);}
.ml-sm{margin-inline-start:var(--space-sm);}
.ml-sm-md{margin-inline-start:var(--space-sm-md);}
.ml-xl{margin-inline-start:var(--space-xl);}
.ml-xl-2xl{margin-inline-start:var(--space-xl-2xl);}
.ml-xs{margin-inline-start:var(--space-xs);}
.ml-xs-sm{margin-inline-start:var(--space-xs-sm);}
.mx-0{margin-inline:var(--space-0);}
.mx-2xl{margin-inline:var(--space-2xl);}
.mx-2xl-3xl{margin-inline:var(--space-2xl-3xl);}
.mx-2xs{margin-inline:var(--space-2xs);}
.mx-2xs-xs{margin-inline:var(--space-2xs-xs);}
.mx-3xl{margin-inline:var(--space-3xl);}
.mx-3xs{margin-inline:var(--space-3xs);}
.mx-3xs-2xs{margin-inline:var(--space-3xs-2xs);}
.mx-lg{margin-inline:var(--space-lg);}
.mx-lg-xl{margin-inline:var(--space-lg-xl);}
.mx-md{margin-inline:var(--space-md);}
.mx-md-lg{margin-inline:var(--space-md-lg);}
.mx-sm{margin-inline:var(--space-sm);}
.mx-sm-md{margin-inline:var(--space-sm-md);}
.mx-xl{margin-inline:var(--space-xl);}
.mx-xl-2xl{margin-inline:var(--space-xl-2xl);}
.mx-xs{margin-inline:var(--space-xs);}
.mx-xs-sm{margin-inline:var(--space-xs-sm);}
.my-0{margin-block:var(--space-0);}
.my-2xl{margin-block:var(--space-2xl);}
.my-2xl-3xl{margin-block:var(--space-2xl-3xl);}
.my-2xs{margin-block:var(--space-2xs);}
.my-2xs-xs{margin-block:var(--space-2xs-xs);}
.my-3xl{margin-block:var(--space-3xl);}
.my-3xs{margin-block:var(--space-3xs);}
.my-3xs-2xs{margin-block:var(--space-3xs-2xs);}
.my-lg{margin-block:var(--space-lg);}
.my-lg-xl{margin-block:var(--space-lg-xl);}
.my-md{margin-block:var(--space-md);}
.my-md-lg{margin-block:var(--space-md-lg);}
.my-sm{margin-block:var(--space-sm);}
.my-sm-md{margin-block:var(--space-sm-md);}
.my-xl{margin-block:var(--space-xl);}
.my-xl-2xl{margin-block:var(--space-xl-2xl);}
.my-xs{margin-block:var(--space-xs);}
.my-xs-sm{margin-block:var(--space-xs-sm);}
.flow-space-0{--flow-space:var(--space-0);}
.flow-space-2xl{--flow-space:var(--space-2xl);}
.flow-space-2xl-3xl{--flow-space:var(--space-2xl-3xl);}
.flow-space-2xs{--flow-space:var(--space-2xs);}
.flow-space-2xs-xs{--flow-space:var(--space-2xs-xs);}
.flow-space-3xl{--flow-space:var(--space-3xl);}
.flow-space-3xs{--flow-space:var(--space-3xs);}
.flow-space-3xs-2xs{--flow-space:var(--space-3xs-2xs);}
.flow-space-lg{--flow-space:var(--space-lg);}
.flow-space-lg-xl{--flow-space:var(--space-lg-xl);}
.flow-space-md{--flow-space:var(--space-md);}
.flow-space-md-lg{--flow-space:var(--space-md-lg);}
.flow-space-sm{--flow-space:var(--space-sm);}
.flow-space-sm-md{--flow-space:var(--space-sm-md);}
.flow-space-xl{--flow-space:var(--space-xl);}
.flow-space-xl-2xl{--flow-space:var(--space-xl-2xl);}
.flow-space-xs{--flow-space:var(--space-xs);}
.flow-space-xs-sm{--flow-space:var(--space-xs-sm);}
.region-space-0{--region-space:var(--space-0);}
.region-space-2xl{--region-space:var(--space-2xl);}
.region-space-2xl-3xl{--region-space:var(--space-2xl-3xl);}
.region-space-2xs{--region-space:var(--space-2xs);}
.region-space-2xs-xs{--region-space:var(--space-2xs-xs);}
.region-space-3xl{--region-space:var(--space-3xl);}
.region-space-3xs{--region-space:var(--space-3xs);}
.region-space-3xs-2xs{--region-space:var(--space-3xs-2xs);}
.region-space-lg{--region-space:var(--space-lg);}
.region-space-lg-xl{--region-space:var(--space-lg-xl);}
.region-space-md{--region-space:var(--space-md);}
.region-space-md-lg{--region-space:var(--space-md-lg);}
.region-space-sm{--region-space:var(--space-sm);}
.region-space-sm-md{--region-space:var(--space-sm-md);}
.region-space-xl{--region-space:var(--space-xl);}
.region-space-xl-2xl{--region-space:var(--space-xl-2xl);}
.region-space-xs{--region-space:var(--space-xs);}
.region-space-xs-sm{--region-space:var(--space-xs-sm);}
.cluster-gap-0{--cluster-gap:var(--space-0);}
.cluster-gap-2xl{--cluster-gap:var(--space-2xl);}
.cluster-gap-2xl-3xl{--cluster-gap:var(--space-2xl-3xl);}
.cluster-gap-2xs{--cluster-gap:var(--space-2xs);}
.cluster-gap-2xs-xs{--cluster-gap:var(--space-2xs-xs);}
.cluster-gap-3xl{--cluster-gap:var(--space-3xl);}
.cluster-gap-3xs{--cluster-gap:var(--space-3xs);}
.cluster-gap-3xs-2xs{--cluster-gap:var(--space-3xs-2xs);}
.cluster-gap-lg{--cluster-gap:var(--space-lg);}
.cluster-gap-lg-xl{--cluster-gap:var(--space-lg-xl);}
.cluster-gap-md{--cluster-gap:var(--space-md);}
.cluster-gap-md-lg{--cluster-gap:var(--space-md-lg);}
.cluster-gap-sm{--cluster-gap:var(--space-sm);}
.cluster-gap-sm-md{--cluster-gap:var(--space-sm-md);}
.cluster-gap-xl{--cluster-gap:var(--space-xl);}
.cluster-gap-xl-2xl{--cluster-gap:var(--space-xl-2xl);}
.cluster-gap-xs{--cluster-gap:var(--space-xs);}
.cluster-gap-xs-sm{--cluster-gap:var(--space-xs-sm);}
.switcher-gap-0{--switcher-gap:var(--space-0);}
.switcher-gap-2xl{--switcher-gap:var(--space-2xl);}
.switcher-gap-2xl-3xl{--switcher-gap:var(--space-2xl-3xl);}
.switcher-gap-2xs{--switcher-gap:var(--space-2xs);}
.switcher-gap-2xs-xs{--switcher-gap:var(--space-2xs-xs);}
.switcher-gap-3xl{--switcher-gap:var(--space-3xl);}
.switcher-gap-3xs{--switcher-gap:var(--space-3xs);}
.switcher-gap-3xs-2xs{--switcher-gap:var(--space-3xs-2xs);}
.switcher-gap-lg{--switcher-gap:var(--space-lg);}
.switcher-gap-lg-xl{--switcher-gap:var(--space-lg-xl);}
.switcher-gap-md{--switcher-gap:var(--space-md);}
.switcher-gap-md-lg{--switcher-gap:var(--space-md-lg);}
.switcher-gap-sm{--switcher-gap:var(--space-sm);}
.switcher-gap-sm-md{--switcher-gap:var(--space-sm-md);}
.switcher-gap-xl{--switcher-gap:var(--space-xl);}
.switcher-gap-xl-2xl{--switcher-gap:var(--space-xl-2xl);}
.switcher-gap-xs{--switcher-gap:var(--space-xs);}
.switcher-gap-xs-sm{--switcher-gap:var(--space-xs-sm);}
.grid-gap-0{--grid-gap:var(--space-0);}
.grid-gap-2xl{--grid-gap:var(--space-2xl);}
.grid-gap-2xl-3xl{--grid-gap:var(--space-2xl-3xl);}
.grid-gap-2xs{--grid-gap:var(--space-2xs);}
.grid-gap-2xs-xs{--grid-gap:var(--space-2xs-xs);}
.grid-gap-3xl{--grid-gap:var(--space-3xl);}
.grid-gap-3xs{--grid-gap:var(--space-3xs);}
.grid-gap-3xs-2xs{--grid-gap:var(--space-3xs-2xs);}
.grid-gap-lg{--grid-gap:var(--space-lg);}
.grid-gap-lg-xl{--grid-gap:var(--space-lg-xl);}
.grid-gap-md{--grid-gap:var(--space-md);}
.grid-gap-md-lg{--grid-gap:var(--space-md-lg);}
.grid-gap-sm{--grid-gap:var(--space-sm);}
.grid-gap-sm-md{--grid-gap:var(--space-sm-md);}
.grid-gap-xl{--grid-gap:var(--space-xl);}
.grid-gap-xl-2xl{--grid-gap:var(--space-xl-2xl);}
.grid-gap-xs{--grid-gap:var(--space-xs);}
.grid-gap-xs-sm{--grid-gap:var(--space-xs-sm);}
.wrapper-max-width-2xl{--wrapper-max-width:var(--container-2xl);}
.wrapper-max-width-3xl{--wrapper-max-width:var(--container-3xl);}
.wrapper-max-width-4xl{--wrapper-max-width:var(--container-4xl);}
.wrapper-max-width-5xl{--wrapper-max-width:var(--container-5xl);}
.wrapper-max-width-6xl{--wrapper-max-width:var(--container-6xl);}
.wrapper-max-width-7xl{--wrapper-max-width:var(--container-7xl);}
.wrapper-max-width-8xl{--wrapper-max-width:var(--container-8xl);}
.wrapper-max-width-9xl{--wrapper-max-width:var(--container-9xl);}
.wrapper-max-width-lg{--wrapper-max-width:var(--container-lg);}
.wrapper-max-width-md{--wrapper-max-width:var(--container-md);}
.wrapper-max-width-sm{--wrapper-max-width:var(--container-sm);}
.wrapper-max-width-xl{--wrapper-max-width:var(--container-xl);}
.wrapper-max-width-xs{--wrapper-max-width:var(--container-xs);}
.gap-0{gap:var(--space-0);}
.gap-2xl{gap:var(--space-2xl);}
.gap-2xl-3xl{gap:var(--space-2xl-3xl);}
.gap-2xs{gap:var(--space-2xs);}
.gap-2xs-xs{gap:var(--space-2xs-xs);}
.gap-3xl{gap:var(--space-3xl);}
.gap-3xs{gap:var(--space-3xs);}
.gap-3xs-2xs{gap:var(--space-3xs-2xs);}
.gap-lg{gap:var(--space-lg);}
.gap-lg-xl{gap:var(--space-lg-xl);}
.gap-md{gap:var(--space-md);}
.gap-md-lg{gap:var(--space-md-lg);}
.gap-sm{gap:var(--space-sm);}
.gap-sm-md{gap:var(--space-sm-md);}
.gap-xl{gap:var(--space-xl);}
.gap-xl-2xl{gap:var(--space-xl-2xl);}
.gap-xs{gap:var(--space-xs);}
.gap-xs-sm{gap:var(--space-xs-sm);}
.text-accent-border-loud{color:var(--color-accent-border-loud);}
.text-accent-border-normal{color:var(--color-accent-border-normal);}
.text-accent-border-quiet{color:var(--color-accent-border-quiet);}
.text-accent-fill-loud{color:var(--color-accent-fill-loud);}
.text-accent-fill-normal{color:var(--color-accent-fill-normal);}
.text-accent-fill-quiet{color:var(--color-accent-fill-quiet);}
.text-accent-on-loud{color:var(--color-accent-on-loud);}
.text-accent-on-normal{color:var(--color-accent-on-normal);}
.text-accent-on-quiet{color:var(--color-accent-on-quiet);}
.text-alpha-black-00{color:var(--color-alpha-black-00);}
.text-alpha-black-05{color:var(--color-alpha-black-05);}
.text-alpha-black-10{color:var(--color-alpha-black-10);}
.text-alpha-black-12{color:var(--color-alpha-black-12);}
.text-alpha-black-15{color:var(--color-alpha-black-15);}
.text-alpha-black-25{color:var(--color-alpha-black-25);}
.text-alpha-black-50{color:var(--color-alpha-black-50);}
.text-alpha-black-80{color:var(--color-alpha-black-80);}
.text-alpha-white-10{color:var(--color-alpha-white-10);}
.text-alpha-white-15{color:var(--color-alpha-white-15);}
.text-amber-100{color:var(--color-amber-100);}
.text-amber-200{color:var(--color-amber-200);}
.text-amber-300{color:var(--color-amber-300);}
.text-amber-400{color:var(--color-amber-400);}
.text-amber-50{color:var(--color-amber-50);}
.text-amber-500{color:var(--color-amber-500);}
.text-amber-600{color:var(--color-amber-600);}
.text-amber-700{color:var(--color-amber-700);}
.text-amber-800{color:var(--color-amber-800);}
.text-amber-900{color:var(--color-amber-900);}
.text-amber-950{color:var(--color-amber-950);}
.text-black{color:var(--color-black);}
.text-blue-100{color:var(--color-blue-100);}
.text-blue-200{color:var(--color-blue-200);}
.text-blue-300{color:var(--color-blue-300);}
.text-blue-400{color:var(--color-blue-400);}
.text-blue-50{color:var(--color-blue-50);}
.text-blue-500{color:var(--color-blue-500);}
.text-blue-600{color:var(--color-blue-600);}
.text-blue-700{color:var(--color-blue-700);}
.text-blue-800{color:var(--color-blue-800);}
.text-blue-900{color:var(--color-blue-900);}
.text-blue-950{color:var(--color-blue-950);}
.text-border-loud{color:var(--color-border-loud);}
.text-border-normal{color:var(--color-border-normal);}
.text-border-quiet{color:var(--color-border-quiet);}
.text-cyan-100{color:var(--color-cyan-100);}
.text-cyan-200{color:var(--color-cyan-200);}
.text-cyan-300{color:var(--color-cyan-300);}
.text-cyan-400{color:var(--color-cyan-400);}
.text-cyan-50{color:var(--color-cyan-50);}
.text-cyan-500{color:var(--color-cyan-500);}
.text-cyan-600{color:var(--color-cyan-600);}
.text-cyan-700{color:var(--color-cyan-700);}
.text-cyan-800{color:var(--color-cyan-800);}
.text-cyan-900{color:var(--color-cyan-900);}
.text-cyan-950{color:var(--color-cyan-950);}
.text-emerald-100{color:var(--color-emerald-100);}
.text-emerald-200{color:var(--color-emerald-200);}
.text-emerald-300{color:var(--color-emerald-300);}
.text-emerald-400{color:var(--color-emerald-400);}
.text-emerald-50{color:var(--color-emerald-50);}
.text-emerald-500{color:var(--color-emerald-500);}
.text-emerald-600{color:var(--color-emerald-600);}
.text-emerald-700{color:var(--color-emerald-700);}
.text-emerald-800{color:var(--color-emerald-800);}
.text-emerald-900{color:var(--color-emerald-900);}
.text-emerald-950{color:var(--color-emerald-950);}
.text-error-border-loud{color:var(--color-error-border-loud);}
.text-error-border-normal{color:var(--color-error-border-normal);}
.text-error-border-quiet{color:var(--color-error-border-quiet);}
.text-error-fill-loud{color:var(--color-error-fill-loud);}
.text-error-fill-normal{color:var(--color-error-fill-normal);}
.text-error-fill-quiet{color:var(--color-error-fill-quiet);}
.text-error-on-loud{color:var(--color-error-on-loud);}
.text-error-on-normal{color:var(--color-error-on-normal);}
.text-error-on-quiet{color:var(--color-error-on-quiet);}
.text-fill-loud{color:var(--color-fill-loud);}
.text-fill-normal{color:var(--color-fill-normal);}
.text-fill-quiet{color:var(--color-fill-quiet);}
.text-fuchsia-100{color:var(--color-fuchsia-100);}
.text-fuchsia-200{color:var(--color-fuchsia-200);}
.text-fuchsia-300{color:var(--color-fuchsia-300);}
.text-fuchsia-400{color:var(--color-fuchsia-400);}
.text-fuchsia-50{color:var(--color-fuchsia-50);}
.text-fuchsia-500{color:var(--color-fuchsia-500);}
.text-fuchsia-600{color:var(--color-fuchsia-600);}
.text-fuchsia-700{color:var(--color-fuchsia-700);}
.text-fuchsia-800{color:var(--color-fuchsia-800);}
.text-fuchsia-900{color:var(--color-fuchsia-900);}
.text-fuchsia-950{color:var(--color-fuchsia-950);}
.text-gray-100{color:var(--color-gray-100);}
.text-gray-200{color:var(--color-gray-200);}
.text-gray-300{color:var(--color-gray-300);}
.text-gray-400{color:var(--color-gray-400);}
.text-gray-50{color:var(--color-gray-50);}
.text-gray-500{color:var(--color-gray-500);}
.text-gray-600{color:var(--color-gray-600);}
.text-gray-700{color:var(--color-gray-700);}
.text-gray-800{color:var(--color-gray-800);}
.text-gray-900{color:var(--color-gray-900);}
.text-gray-950{color:var(--color-gray-950);}
.text-green-100{color:var(--color-green-100);}
.text-green-200{color:var(--color-green-200);}
.text-green-300{color:var(--color-green-300);}
.text-green-400{color:var(--color-green-400);}
.text-green-50{color:var(--color-green-50);}
.text-green-500{color:var(--color-green-500);}
.text-green-600{color:var(--color-green-600);}
.text-green-700{color:var(--color-green-700);}
.text-green-800{color:var(--color-green-800);}
.text-green-900{color:var(--color-green-900);}
.text-green-950{color:var(--color-green-950);}
.text-indigo-100{color:var(--color-indigo-100);}
.text-indigo-200{color:var(--color-indigo-200);}
.text-indigo-300{color:var(--color-indigo-300);}
.text-indigo-400{color:var(--color-indigo-400);}
.text-indigo-50{color:var(--color-indigo-50);}
.text-indigo-500{color:var(--color-indigo-500);}
.text-indigo-600{color:var(--color-indigo-600);}
.text-indigo-700{color:var(--color-indigo-700);}
.text-indigo-800{color:var(--color-indigo-800);}
.text-indigo-900{color:var(--color-indigo-900);}
.text-indigo-950{color:var(--color-indigo-950);}
.text-info-border-loud{color:var(--color-info-border-loud);}
.text-info-border-normal{color:var(--color-info-border-normal);}
.text-info-border-quiet{color:var(--color-info-border-quiet);}
.text-info-fill-loud{color:var(--color-info-fill-loud);}
.text-info-fill-normal{color:var(--color-info-fill-normal);}
.text-info-fill-quiet{color:var(--color-info-fill-quiet);}
.text-info-on-loud{color:var(--color-info-on-loud);}
.text-info-on-normal{color:var(--color-info-on-normal);}
.text-info-on-quiet{color:var(--color-info-on-quiet);}
.text-lime-100{color:var(--color-lime-100);}
.text-lime-200{color:var(--color-lime-200);}
.text-lime-300{color:var(--color-lime-300);}
.text-lime-400{color:var(--color-lime-400);}
.text-lime-50{color:var(--color-lime-50);}
.text-lime-500{color:var(--color-lime-500);}
.text-lime-600{color:var(--color-lime-600);}
.text-lime-700{color:var(--color-lime-700);}
.text-lime-800{color:var(--color-lime-800);}
.text-lime-900{color:var(--color-lime-900);}
.text-lime-950{color:var(--color-lime-950);}
.text-link{color:var(--color-text-link);}
.text-neutral-100{color:var(--color-neutral-100);}
.text-neutral-200{color:var(--color-neutral-200);}
.text-neutral-300{color:var(--color-neutral-300);}
.text-neutral-400{color:var(--color-neutral-400);}
.text-neutral-50{color:var(--color-neutral-50);}
.text-neutral-500{color:var(--color-neutral-500);}
.text-neutral-600{color:var(--color-neutral-600);}
.text-neutral-700{color:var(--color-neutral-700);}
.text-neutral-800{color:var(--color-neutral-800);}
.text-neutral-900{color:var(--color-neutral-900);}
.text-neutral-950{color:var(--color-neutral-950);}
.text-neutral-border-loud{color:var(--color-neutral-border-loud);}
.text-neutral-border-normal{color:var(--color-neutral-border-normal);}
.text-neutral-border-quiet{color:var(--color-neutral-border-quiet);}
.text-neutral-fill-loud{color:var(--color-neutral-fill-loud);}
.text-neutral-fill-normal{color:var(--color-neutral-fill-normal);}
.text-neutral-fill-quiet{color:var(--color-neutral-fill-quiet);}
.text-neutral-on-loud{color:var(--color-neutral-on-loud);}
.text-neutral-on-normal{color:var(--color-neutral-on-normal);}
.text-neutral-on-quiet{color:var(--color-neutral-on-quiet);}
.text-neutral-surface-border{color:var(--color-neutral-surface-border);}
.text-neutral-surface-default{color:var(--color-neutral-surface-default);}
.text-neutral-surface-lowered{color:var(--color-neutral-surface-lowered);}
.text-neutral-surface-lowest{color:var(--color-neutral-surface-lowest);}
.text-neutral-surface-raised{color:var(--color-neutral-surface-raised);}
.text-neutral-text-link{color:var(--color-neutral-text-link);}
.text-neutral-text-normal{color:var(--color-neutral-text-normal);}
.text-neutral-text-placeholder{color:var(--color-neutral-text-placeholder);}
.text-neutral-text-quiet{color:var(--color-neutral-text-quiet);}
.text-neutral-text-quieter{color:var(--color-neutral-text-quieter);}
.text-normal{color:var(--color-text-normal);}
.text-on-loud{color:var(--color-on-loud);}
.text-on-normal{color:var(--color-on-normal);}
.text-on-quiet{color:var(--color-on-quiet);}
.text-orange-100{color:var(--color-orange-100);}
.text-orange-200{color:var(--color-orange-200);}
.text-orange-300{color:var(--color-orange-300);}
.text-orange-400{color:var(--color-orange-400);}
.text-orange-50{color:var(--color-orange-50);}
.text-orange-500{color:var(--color-orange-500);}
.text-orange-600{color:var(--color-orange-600);}
.text-orange-700{color:var(--color-orange-700);}
.text-orange-800{color:var(--color-orange-800);}
.text-orange-900{color:var(--color-orange-900);}
.text-orange-950{color:var(--color-orange-950);}
.text-overlay{color:var(--color-overlay);}
.text-pink-100{color:var(--color-pink-100);}
.text-pink-200{color:var(--color-pink-200);}
.text-pink-300{color:var(--color-pink-300);}
.text-pink-400{color:var(--color-pink-400);}
.text-pink-50{color:var(--color-pink-50);}
.text-pink-500{color:var(--color-pink-500);}
.text-pink-600{color:var(--color-pink-600);}
.text-pink-700{color:var(--color-pink-700);}
.text-pink-800{color:var(--color-pink-800);}
.text-pink-900{color:var(--color-pink-900);}
.text-pink-950{color:var(--color-pink-950);}
.text-placeholder{color:var(--color-text-placeholder);}
.text-purple-100{color:var(--color-purple-100);}
.text-purple-200{color:var(--color-purple-200);}
.text-purple-300{color:var(--color-purple-300);}
.text-purple-400{color:var(--color-purple-400);}
.text-purple-50{color:var(--color-purple-50);}
.text-purple-500{color:var(--color-purple-500);}
.text-purple-600{color:var(--color-purple-600);}
.text-purple-700{color:var(--color-purple-700);}
.text-purple-800{color:var(--color-purple-800);}
.text-purple-900{color:var(--color-purple-900);}
.text-purple-950{color:var(--color-purple-950);}
.text-quiet{color:var(--color-text-quiet);}
.text-quieter{color:var(--color-text-quieter);}
.text-red-100{color:var(--color-red-100);}
.text-red-200{color:var(--color-red-200);}
.text-red-300{color:var(--color-red-300);}
.text-red-400{color:var(--color-red-400);}
.text-red-50{color:var(--color-red-50);}
.text-red-500{color:var(--color-red-500);}
.text-red-600{color:var(--color-red-600);}
.text-red-700{color:var(--color-red-700);}
.text-red-800{color:var(--color-red-800);}
.text-red-900{color:var(--color-red-900);}
.text-red-950{color:var(--color-red-950);}
.text-rose-100{color:var(--color-rose-100);}
.text-rose-200{color:var(--color-rose-200);}
.text-rose-300{color:var(--color-rose-300);}
.text-rose-400{color:var(--color-rose-400);}
.text-rose-50{color:var(--color-rose-50);}
.text-rose-500{color:var(--color-rose-500);}
.text-rose-600{color:var(--color-rose-600);}
.text-rose-700{color:var(--color-rose-700);}
.text-rose-800{color:var(--color-rose-800);}
.text-rose-900{color:var(--color-rose-900);}
.text-rose-950{color:var(--color-rose-950);}
.text-sky-100{color:var(--color-sky-100);}
.text-sky-200{color:var(--color-sky-200);}
.text-sky-300{color:var(--color-sky-300);}
.text-sky-400{color:var(--color-sky-400);}
.text-sky-50{color:var(--color-sky-50);}
.text-sky-500{color:var(--color-sky-500);}
.text-sky-600{color:var(--color-sky-600);}
.text-sky-700{color:var(--color-sky-700);}
.text-sky-800{color:var(--color-sky-800);}
.text-sky-900{color:var(--color-sky-900);}
.text-sky-950{color:var(--color-sky-950);}
.text-slate-100{color:var(--color-slate-100);}
.text-slate-200{color:var(--color-slate-200);}
.text-slate-300{color:var(--color-slate-300);}
.text-slate-400{color:var(--color-slate-400);}
.text-slate-50{color:var(--color-slate-50);}
.text-slate-500{color:var(--color-slate-500);}
.text-slate-600{color:var(--color-slate-600);}
.text-slate-700{color:var(--color-slate-700);}
.text-slate-800{color:var(--color-slate-800);}
.text-slate-900{color:var(--color-slate-900);}
.text-slate-950{color:var(--color-slate-950);}
.text-stone-100{color:var(--color-stone-100);}
.text-stone-200{color:var(--color-stone-200);}
.text-stone-300{color:var(--color-stone-300);}
.text-stone-400{color:var(--color-stone-400);}
.text-stone-50{color:var(--color-stone-50);}
.text-stone-500{color:var(--color-stone-500);}
.text-stone-600{color:var(--color-stone-600);}
.text-stone-700{color:var(--color-stone-700);}
.text-stone-800{color:var(--color-stone-800);}
.text-stone-900{color:var(--color-stone-900);}
.text-stone-950{color:var(--color-stone-950);}
.text-success-border-loud{color:var(--color-success-border-loud);}
.text-success-border-normal{color:var(--color-success-border-normal);}
.text-success-border-quiet{color:var(--color-success-border-quiet);}
.text-success-fill-loud{color:var(--color-success-fill-loud);}
.text-success-fill-normal{color:var(--color-success-fill-normal);}
.text-success-fill-quiet{color:var(--color-success-fill-quiet);}
.text-success-on-loud{color:var(--color-success-on-loud);}
.text-success-on-normal{color:var(--color-success-on-normal);}
.text-success-on-quiet{color:var(--color-success-on-quiet);}
.text-surface-border{color:var(--color-surface-border);}
.text-surface-default{color:var(--color-surface-default);}
.text-surface-lowered{color:var(--color-surface-lowered);}
.text-surface-lowest{color:var(--color-surface-lowest);}
.text-surface-raised{color:var(--color-surface-raised);}
.text-teal-100{color:var(--color-teal-100);}
.text-teal-200{color:var(--color-teal-200);}
.text-teal-300{color:var(--color-teal-300);}
.text-teal-400{color:var(--color-teal-400);}
.text-teal-50{color:var(--color-teal-50);}
.text-teal-500{color:var(--color-teal-500);}
.text-teal-600{color:var(--color-teal-600);}
.text-teal-700{color:var(--color-teal-700);}
.text-teal-800{color:var(--color-teal-800);}
.text-teal-900{color:var(--color-teal-900);}
.text-teal-950{color:var(--color-teal-950);}
.text-transparent{color:var(--color-transparent);}
.text-violet-100{color:var(--color-violet-100);}
.text-violet-200{color:var(--color-violet-200);}
.text-violet-300{color:var(--color-violet-300);}
.text-violet-400{color:var(--color-violet-400);}
.text-violet-50{color:var(--color-violet-50);}
.text-violet-500{color:var(--color-violet-500);}
.text-violet-600{color:var(--color-violet-600);}
.text-violet-700{color:var(--color-violet-700);}
.text-violet-800{color:var(--color-violet-800);}
.text-violet-900{color:var(--color-violet-900);}
.text-violet-950{color:var(--color-violet-950);}
.text-warning-border-loud{color:var(--color-warning-border-loud);}
.text-warning-border-normal{color:var(--color-warning-border-normal);}
.text-warning-border-quiet{color:var(--color-warning-border-quiet);}
.text-warning-fill-loud{color:var(--color-warning-fill-loud);}
.text-warning-fill-normal{color:var(--color-warning-fill-normal);}
.text-warning-fill-quiet{color:var(--color-warning-fill-quiet);}
.text-warning-on-loud{color:var(--color-warning-on-loud);}
.text-warning-on-normal{color:var(--color-warning-on-normal);}
.text-warning-on-quiet{color:var(--color-warning-on-quiet);}
.text-white{color:var(--color-white);}
.text-yellow-100{color:var(--color-yellow-100);}
.text-yellow-200{color:var(--color-yellow-200);}
.text-yellow-300{color:var(--color-yellow-300);}
.text-yellow-400{color:var(--color-yellow-400);}
.text-yellow-50{color:var(--color-yellow-50);}
.text-yellow-500{color:var(--color-yellow-500);}
.text-yellow-600{color:var(--color-yellow-600);}
.text-yellow-700{color:var(--color-yellow-700);}
.text-yellow-800{color:var(--color-yellow-800);}
.text-yellow-900{color:var(--color-yellow-900);}
.text-yellow-950{color:var(--color-yellow-950);}
.text-zinc-100{color:var(--color-zinc-100);}
.text-zinc-200{color:var(--color-zinc-200);}
.text-zinc-300{color:var(--color-zinc-300);}
.text-zinc-400{color:var(--color-zinc-400);}
.text-zinc-50{color:var(--color-zinc-50);}
.text-zinc-500{color:var(--color-zinc-500);}
.text-zinc-600{color:var(--color-zinc-600);}
.text-zinc-700{color:var(--color-zinc-700);}
.text-zinc-800{color:var(--color-zinc-800);}
.text-zinc-900{color:var(--color-zinc-900);}
.text-zinc-950{color:var(--color-zinc-950);}
.bg-accent-border-loud{background-color:var(--color-accent-border-loud);}
.bg-accent-border-normal{background-color:var(--color-accent-border-normal);}
.bg-accent-border-quiet{background-color:var(--color-accent-border-quiet);}
.bg-accent-fill-loud{background-color:var(--color-accent-fill-loud);}
.bg-accent-fill-normal{background-color:var(--color-accent-fill-normal);}
.bg-accent-fill-quiet{background-color:var(--color-accent-fill-quiet);}
.bg-accent-on-loud{background-color:var(--color-accent-on-loud);}
.bg-accent-on-normal{background-color:var(--color-accent-on-normal);}
.bg-accent-on-quiet{background-color:var(--color-accent-on-quiet);}
.bg-alpha-black-00{background-color:var(--color-alpha-black-00);}
.bg-alpha-black-05{background-color:var(--color-alpha-black-05);}
.bg-alpha-black-10{background-color:var(--color-alpha-black-10);}
.bg-alpha-black-12{background-color:var(--color-alpha-black-12);}
.bg-alpha-black-15{background-color:var(--color-alpha-black-15);}
.bg-alpha-black-25{background-color:var(--color-alpha-black-25);}
.bg-alpha-black-50{background-color:var(--color-alpha-black-50);}
.bg-alpha-black-80{background-color:var(--color-alpha-black-80);}
.bg-alpha-white-10{background-color:var(--color-alpha-white-10);}
.bg-alpha-white-15{background-color:var(--color-alpha-white-15);}
.bg-amber-100{background-color:var(--color-amber-100);}
.bg-amber-200{background-color:var(--color-amber-200);}
.bg-amber-300{background-color:var(--color-amber-300);}
.bg-amber-400{background-color:var(--color-amber-400);}
.bg-amber-50{background-color:var(--color-amber-50);}
.bg-amber-500{background-color:var(--color-amber-500);}
.bg-amber-600{background-color:var(--color-amber-600);}
.bg-amber-700{background-color:var(--color-amber-700);}
.bg-amber-800{background-color:var(--color-amber-800);}
.bg-amber-900{background-color:var(--color-amber-900);}
.bg-amber-950{background-color:var(--color-amber-950);}
.bg-black{background-color:var(--color-black);}
.bg-blue-100{background-color:var(--color-blue-100);}
.bg-blue-200{background-color:var(--color-blue-200);}
.bg-blue-300{background-color:var(--color-blue-300);}
.bg-blue-400{background-color:var(--color-blue-400);}
.bg-blue-50{background-color:var(--color-blue-50);}
.bg-blue-500{background-color:var(--color-blue-500);}
.bg-blue-600{background-color:var(--color-blue-600);}
.bg-blue-700{background-color:var(--color-blue-700);}
.bg-blue-800{background-color:var(--color-blue-800);}
.bg-blue-900{background-color:var(--color-blue-900);}
.bg-blue-950{background-color:var(--color-blue-950);}
.bg-border-loud{background-color:var(--color-border-loud);}
.bg-border-normal{background-color:var(--color-border-normal);}
.bg-border-quiet{background-color:var(--color-border-quiet);}
.bg-cyan-100{background-color:var(--color-cyan-100);}
.bg-cyan-200{background-color:var(--color-cyan-200);}
.bg-cyan-300{background-color:var(--color-cyan-300);}
.bg-cyan-400{background-color:var(--color-cyan-400);}
.bg-cyan-50{background-color:var(--color-cyan-50);}
.bg-cyan-500{background-color:var(--color-cyan-500);}
.bg-cyan-600{background-color:var(--color-cyan-600);}
.bg-cyan-700{background-color:var(--color-cyan-700);}
.bg-cyan-800{background-color:var(--color-cyan-800);}
.bg-cyan-900{background-color:var(--color-cyan-900);}
.bg-cyan-950{background-color:var(--color-cyan-950);}
.bg-emerald-100{background-color:var(--color-emerald-100);}
.bg-emerald-200{background-color:var(--color-emerald-200);}
.bg-emerald-300{background-color:var(--color-emerald-300);}
.bg-emerald-400{background-color:var(--color-emerald-400);}
.bg-emerald-50{background-color:var(--color-emerald-50);}
.bg-emerald-500{background-color:var(--color-emerald-500);}
.bg-emerald-600{background-color:var(--color-emerald-600);}
.bg-emerald-700{background-color:var(--color-emerald-700);}
.bg-emerald-800{background-color:var(--color-emerald-800);}
.bg-emerald-900{background-color:var(--color-emerald-900);}
.bg-emerald-950{background-color:var(--color-emerald-950);}
.bg-error-border-loud{background-color:var(--color-error-border-loud);}
.bg-error-border-normal{background-color:var(--color-error-border-normal);}
.bg-error-border-quiet{background-color:var(--color-error-border-quiet);}
.bg-error-fill-loud{background-color:var(--color-error-fill-loud);}
.bg-error-fill-normal{background-color:var(--color-error-fill-normal);}
.bg-error-fill-quiet{background-color:var(--color-error-fill-quiet);}
.bg-error-on-loud{background-color:var(--color-error-on-loud);}
.bg-error-on-normal{background-color:var(--color-error-on-normal);}
.bg-error-on-quiet{background-color:var(--color-error-on-quiet);}
.bg-fill-loud{background-color:var(--color-fill-loud);}
.bg-fill-normal{background-color:var(--color-fill-normal);}
.bg-fill-quiet{background-color:var(--color-fill-quiet);}
.bg-fuchsia-100{background-color:var(--color-fuchsia-100);}
.bg-fuchsia-200{background-color:var(--color-fuchsia-200);}
.bg-fuchsia-300{background-color:var(--color-fuchsia-300);}
.bg-fuchsia-400{background-color:var(--color-fuchsia-400);}
.bg-fuchsia-50{background-color:var(--color-fuchsia-50);}
.bg-fuchsia-500{background-color:var(--color-fuchsia-500);}
.bg-fuchsia-600{background-color:var(--color-fuchsia-600);}
.bg-fuchsia-700{background-color:var(--color-fuchsia-700);}
.bg-fuchsia-800{background-color:var(--color-fuchsia-800);}
.bg-fuchsia-900{background-color:var(--color-fuchsia-900);}
.bg-fuchsia-950{background-color:var(--color-fuchsia-950);}
.bg-gray-100{background-color:var(--color-gray-100);}
.bg-gray-200{background-color:var(--color-gray-200);}
.bg-gray-300{background-color:var(--color-gray-300);}
.bg-gray-400{background-color:var(--color-gray-400);}
.bg-gray-50{background-color:var(--color-gray-50);}
.bg-gray-500{background-color:var(--color-gray-500);}
.bg-gray-600{background-color:var(--color-gray-600);}
.bg-gray-700{background-color:var(--color-gray-700);}
.bg-gray-800{background-color:var(--color-gray-800);}
.bg-gray-900{background-color:var(--color-gray-900);}
.bg-gray-950{background-color:var(--color-gray-950);}
.bg-green-100{background-color:var(--color-green-100);}
.bg-green-200{background-color:var(--color-green-200);}
.bg-green-300{background-color:var(--color-green-300);}
.bg-green-400{background-color:var(--color-green-400);}
.bg-green-50{background-color:var(--color-green-50);}
.bg-green-500{background-color:var(--color-green-500);}
.bg-green-600{background-color:var(--color-green-600);}
.bg-green-700{background-color:var(--color-green-700);}
.bg-green-800{background-color:var(--color-green-800);}
.bg-green-900{background-color:var(--color-green-900);}
.bg-green-950{background-color:var(--color-green-950);}
.bg-indigo-100{background-color:var(--color-indigo-100);}
.bg-indigo-200{background-color:var(--color-indigo-200);}
.bg-indigo-300{background-color:var(--color-indigo-300);}
.bg-indigo-400{background-color:var(--color-indigo-400);}
.bg-indigo-50{background-color:var(--color-indigo-50);}
.bg-indigo-500{background-color:var(--color-indigo-500);}
.bg-indigo-600{background-color:var(--color-indigo-600);}
.bg-indigo-700{background-color:var(--color-indigo-700);}
.bg-indigo-800{background-color:var(--color-indigo-800);}
.bg-indigo-900{background-color:var(--color-indigo-900);}
.bg-indigo-950{background-color:var(--color-indigo-950);}
.bg-info-border-loud{background-color:var(--color-info-border-loud);}
.bg-info-border-normal{background-color:var(--color-info-border-normal);}
.bg-info-border-quiet{background-color:var(--color-info-border-quiet);}
.bg-info-fill-loud{background-color:var(--color-info-fill-loud);}
.bg-info-fill-normal{background-color:var(--color-info-fill-normal);}
.bg-info-fill-quiet{background-color:var(--color-info-fill-quiet);}
.bg-info-on-loud{background-color:var(--color-info-on-loud);}
.bg-info-on-normal{background-color:var(--color-info-on-normal);}
.bg-info-on-quiet{background-color:var(--color-info-on-quiet);}
.bg-lime-100{background-color:var(--color-lime-100);}
.bg-lime-200{background-color:var(--color-lime-200);}
.bg-lime-300{background-color:var(--color-lime-300);}
.bg-lime-400{background-color:var(--color-lime-400);}
.bg-lime-50{background-color:var(--color-lime-50);}
.bg-lime-500{background-color:var(--color-lime-500);}
.bg-lime-600{background-color:var(--color-lime-600);}
.bg-lime-700{background-color:var(--color-lime-700);}
.bg-lime-800{background-color:var(--color-lime-800);}
.bg-lime-900{background-color:var(--color-lime-900);}
.bg-lime-950{background-color:var(--color-lime-950);}
.bg-neutral-100{background-color:var(--color-neutral-100);}
.bg-neutral-200{background-color:var(--color-neutral-200);}
.bg-neutral-300{background-color:var(--color-neutral-300);}
.bg-neutral-400{background-color:var(--color-neutral-400);}
.bg-neutral-50{background-color:var(--color-neutral-50);}
.bg-neutral-500{background-color:var(--color-neutral-500);}
.bg-neutral-600{background-color:var(--color-neutral-600);}
.bg-neutral-700{background-color:var(--color-neutral-700);}
.bg-neutral-800{background-color:var(--color-neutral-800);}
.bg-neutral-900{background-color:var(--color-neutral-900);}
.bg-neutral-950{background-color:var(--color-neutral-950);}
.bg-neutral-border-loud{background-color:var(--color-neutral-border-loud);}
.bg-neutral-border-normal{background-color:var(--color-neutral-border-normal);}
.bg-neutral-border-quiet{background-color:var(--color-neutral-border-quiet);}
.bg-neutral-fill-loud{background-color:var(--color-neutral-fill-loud);}
.bg-neutral-fill-normal{background-color:var(--color-neutral-fill-normal);}
.bg-neutral-fill-quiet{background-color:var(--color-neutral-fill-quiet);}
.bg-neutral-on-loud{background-color:var(--color-neutral-on-loud);}
.bg-neutral-on-normal{background-color:var(--color-neutral-on-normal);}
.bg-neutral-on-quiet{background-color:var(--color-neutral-on-quiet);}
.bg-neutral-surface-border{background-color:var(--color-neutral-surface-border);}
.bg-neutral-surface-default{background-color:var(--color-neutral-surface-default);}
.bg-neutral-surface-lowered{background-color:var(--color-neutral-surface-lowered);}
.bg-neutral-surface-lowest{background-color:var(--color-neutral-surface-lowest);}
.bg-neutral-surface-raised{background-color:var(--color-neutral-surface-raised);}
.bg-neutral-text-link{background-color:var(--color-neutral-text-link);}
.bg-neutral-text-normal{background-color:var(--color-neutral-text-normal);}
.bg-neutral-text-placeholder{background-color:var(--color-neutral-text-placeholder);}
.bg-neutral-text-quiet{background-color:var(--color-neutral-text-quiet);}
.bg-neutral-text-quieter{background-color:var(--color-neutral-text-quieter);}
.bg-on-loud{background-color:var(--color-on-loud);}
.bg-on-normal{background-color:var(--color-on-normal);}
.bg-on-quiet{background-color:var(--color-on-quiet);}
.bg-orange-100{background-color:var(--color-orange-100);}
.bg-orange-200{background-color:var(--color-orange-200);}
.bg-orange-300{background-color:var(--color-orange-300);}
.bg-orange-400{background-color:var(--color-orange-400);}
.bg-orange-50{background-color:var(--color-orange-50);}
.bg-orange-500{background-color:var(--color-orange-500);}
.bg-orange-600{background-color:var(--color-orange-600);}
.bg-orange-700{background-color:var(--color-orange-700);}
.bg-orange-800{background-color:var(--color-orange-800);}
.bg-orange-900{background-color:var(--color-orange-900);}
.bg-orange-950{background-color:var(--color-orange-950);}
.bg-overlay{background-color:var(--color-overlay);}
.bg-pink-100{background-color:var(--color-pink-100);}
.bg-pink-200{background-color:var(--color-pink-200);}
.bg-pink-300{background-color:var(--color-pink-300);}
.bg-pink-400{background-color:var(--color-pink-400);}
.bg-pink-50{background-color:var(--color-pink-50);}
.bg-pink-500{background-color:var(--color-pink-500);}
.bg-pink-600{background-color:var(--color-pink-600);}
.bg-pink-700{background-color:var(--color-pink-700);}
.bg-pink-800{background-color:var(--color-pink-800);}
.bg-pink-900{background-color:var(--color-pink-900);}
.bg-pink-950{background-color:var(--color-pink-950);}
.bg-purple-100{background-color:var(--color-purple-100);}
.bg-purple-200{background-color:var(--color-purple-200);}
.bg-purple-300{background-color:var(--color-purple-300);}
.bg-purple-400{background-color:var(--color-purple-400);}
.bg-purple-50{background-color:var(--color-purple-50);}
.bg-purple-500{background-color:var(--color-purple-500);}
.bg-purple-600{background-color:var(--color-purple-600);}
.bg-purple-700{background-color:var(--color-purple-700);}
.bg-purple-800{background-color:var(--color-purple-800);}
.bg-purple-900{background-color:var(--color-purple-900);}
.bg-purple-950{background-color:var(--color-purple-950);}
.bg-red-100{background-color:var(--color-red-100);}
.bg-red-200{background-color:var(--color-red-200);}
.bg-red-300{background-color:var(--color-red-300);}
.bg-red-400{background-color:var(--color-red-400);}
.bg-red-50{background-color:var(--color-red-50);}
.bg-red-500{background-color:var(--color-red-500);}
.bg-red-600{background-color:var(--color-red-600);}
.bg-red-700{background-color:var(--color-red-700);}
.bg-red-800{background-color:var(--color-red-800);}
.bg-red-900{background-color:var(--color-red-900);}
.bg-red-950{background-color:var(--color-red-950);}
.bg-rose-100{background-color:var(--color-rose-100);}
.bg-rose-200{background-color:var(--color-rose-200);}
.bg-rose-300{background-color:var(--color-rose-300);}
.bg-rose-400{background-color:var(--color-rose-400);}
.bg-rose-50{background-color:var(--color-rose-50);}
.bg-rose-500{background-color:var(--color-rose-500);}
.bg-rose-600{background-color:var(--color-rose-600);}
.bg-rose-700{background-color:var(--color-rose-700);}
.bg-rose-800{background-color:var(--color-rose-800);}
.bg-rose-900{background-color:var(--color-rose-900);}
.bg-rose-950{background-color:var(--color-rose-950);}
.bg-sky-100{background-color:var(--color-sky-100);}
.bg-sky-200{background-color:var(--color-sky-200);}
.bg-sky-300{background-color:var(--color-sky-300);}
.bg-sky-400{background-color:var(--color-sky-400);}
.bg-sky-50{background-color:var(--color-sky-50);}
.bg-sky-500{background-color:var(--color-sky-500);}
.bg-sky-600{background-color:var(--color-sky-600);}
.bg-sky-700{background-color:var(--color-sky-700);}
.bg-sky-800{background-color:var(--color-sky-800);}
.bg-sky-900{background-color:var(--color-sky-900);}
.bg-sky-950{background-color:var(--color-sky-950);}
.bg-slate-100{background-color:var(--color-slate-100);}
.bg-slate-200{background-color:var(--color-slate-200);}
.bg-slate-300{background-color:var(--color-slate-300);}
.bg-slate-400{background-color:var(--color-slate-400);}
.bg-slate-50{background-color:var(--color-slate-50);}
.bg-slate-500{background-color:var(--color-slate-500);}
.bg-slate-600{background-color:var(--color-slate-600);}
.bg-slate-700{background-color:var(--color-slate-700);}
.bg-slate-800{background-color:var(--color-slate-800);}
.bg-slate-900{background-color:var(--color-slate-900);}
.bg-slate-950{background-color:var(--color-slate-950);}
.bg-stone-100{background-color:var(--color-stone-100);}
.bg-stone-200{background-color:var(--color-stone-200);}
.bg-stone-300{background-color:var(--color-stone-300);}
.bg-stone-400{background-color:var(--color-stone-400);}
.bg-stone-50{background-color:var(--color-stone-50);}
.bg-stone-500{background-color:var(--color-stone-500);}
.bg-stone-600{background-color:var(--color-stone-600);}
.bg-stone-700{background-color:var(--color-stone-700);}
.bg-stone-800{background-color:var(--color-stone-800);}
.bg-stone-900{background-color:var(--color-stone-900);}
.bg-stone-950{background-color:var(--color-stone-950);}
.bg-success-border-loud{background-color:var(--color-success-border-loud);}
.bg-success-border-normal{background-color:var(--color-success-border-normal);}
.bg-success-border-quiet{background-color:var(--color-success-border-quiet);}
.bg-success-fill-loud{background-color:var(--color-success-fill-loud);}
.bg-success-fill-normal{background-color:var(--color-success-fill-normal);}
.bg-success-fill-quiet{background-color:var(--color-success-fill-quiet);}
.bg-success-on-loud{background-color:var(--color-success-on-loud);}
.bg-success-on-normal{background-color:var(--color-success-on-normal);}
.bg-success-on-quiet{background-color:var(--color-success-on-quiet);}
.bg-surface-border{background-color:var(--color-surface-border);}
.bg-surface-default{background-color:var(--color-surface-default);}
.bg-surface-lowered{background-color:var(--color-surface-lowered);}
.bg-surface-lowest{background-color:var(--color-surface-lowest);}
.bg-surface-raised{background-color:var(--color-surface-raised);}
.bg-teal-100{background-color:var(--color-teal-100);}
.bg-teal-200{background-color:var(--color-teal-200);}
.bg-teal-300{background-color:var(--color-teal-300);}
.bg-teal-400{background-color:var(--color-teal-400);}
.bg-teal-50{background-color:var(--color-teal-50);}
.bg-teal-500{background-color:var(--color-teal-500);}
.bg-teal-600{background-color:var(--color-teal-600);}
.bg-teal-700{background-color:var(--color-teal-700);}
.bg-teal-800{background-color:var(--color-teal-800);}
.bg-teal-900{background-color:var(--color-teal-900);}
.bg-teal-950{background-color:var(--color-teal-950);}
.bg-text-link{background-color:var(--color-text-link);}
.bg-text-normal{background-color:var(--color-text-normal);}
.bg-text-placeholder{background-color:var(--color-text-placeholder);}
.bg-text-quiet{background-color:var(--color-text-quiet);}
.bg-text-quieter{background-color:var(--color-text-quieter);}
.bg-transparent{background-color:var(--color-transparent);}
.bg-violet-100{background-color:var(--color-violet-100);}
.bg-violet-200{background-color:var(--color-violet-200);}
.bg-violet-300{background-color:var(--color-violet-300);}
.bg-violet-400{background-color:var(--color-violet-400);}
.bg-violet-50{background-color:var(--color-violet-50);}
.bg-violet-500{background-color:var(--color-violet-500);}
.bg-violet-600{background-color:var(--color-violet-600);}
.bg-violet-700{background-color:var(--color-violet-700);}
.bg-violet-800{background-color:var(--color-violet-800);}
.bg-violet-900{background-color:var(--color-violet-900);}
.bg-violet-950{background-color:var(--color-violet-950);}
.bg-warning-border-loud{background-color:var(--color-warning-border-loud);}
.bg-warning-border-normal{background-color:var(--color-warning-border-normal);}
.bg-warning-border-quiet{background-color:var(--color-warning-border-quiet);}
.bg-warning-fill-loud{background-color:var(--color-warning-fill-loud);}
.bg-warning-fill-normal{background-color:var(--color-warning-fill-normal);}
.bg-warning-fill-quiet{background-color:var(--color-warning-fill-quiet);}
.bg-warning-on-loud{background-color:var(--color-warning-on-loud);}
.bg-warning-on-normal{background-color:var(--color-warning-on-normal);}
.bg-warning-on-quiet{background-color:var(--color-warning-on-quiet);}
.bg-white{background-color:var(--color-white);}
.bg-yellow-100{background-color:var(--color-yellow-100);}
.bg-yellow-200{background-color:var(--color-yellow-200);}
.bg-yellow-300{background-color:var(--color-yellow-300);}
.bg-yellow-400{background-color:var(--color-yellow-400);}
.bg-yellow-50{background-color:var(--color-yellow-50);}
.bg-yellow-500{background-color:var(--color-yellow-500);}
.bg-yellow-600{background-color:var(--color-yellow-600);}
.bg-yellow-700{background-color:var(--color-yellow-700);}
.bg-yellow-800{background-color:var(--color-yellow-800);}
.bg-yellow-900{background-color:var(--color-yellow-900);}
.bg-yellow-950{background-color:var(--color-yellow-950);}
.bg-zinc-100{background-color:var(--color-zinc-100);}
.bg-zinc-200{background-color:var(--color-zinc-200);}
.bg-zinc-300{background-color:var(--color-zinc-300);}
.bg-zinc-400{background-color:var(--color-zinc-400);}
.bg-zinc-50{background-color:var(--color-zinc-50);}
.bg-zinc-500{background-color:var(--color-zinc-500);}
.bg-zinc-600{background-color:var(--color-zinc-600);}
.bg-zinc-700{background-color:var(--color-zinc-700);}
.bg-zinc-800{background-color:var(--color-zinc-800);}
.bg-zinc-900{background-color:var(--color-zinc-900);}
.bg-zinc-950{background-color:var(--color-zinc-950);}
.font-weight-bold{font-weight:var(--font-weight-bold);}
.font-weight-medium{font-weight:var(--font-weight-medium);}
.font-weight-normal{font-weight:var(--font-weight-normal);}
.font-weight-semibold{font-weight:var(--font-weight-semibold);}
.rounded-2xl{border-radius:var(--radius-2xl);}
.rounded-3xl{border-radius:var(--radius-3xl);}
.rounded-4xl{border-radius:var(--radius-4xl);}
.rounded-full{border-radius:var(--radius-full);}
.rounded-lg{border-radius:var(--radius-lg);}
.rounded-md{border-radius:var(--radius-md);}
.rounded-none{border-radius:var(--radius-none);}
.rounded-sm{border-radius:var(--radius-sm);}
.rounded-xl{border-radius:var(--radius-xl);}