/*
CLUSTER
More info: https://every-layout.dev/layouts/cluster/
A layout that lets you distribute items with consitent
spacing, regardless of their size

CUSTOM PROPERTIES AND CONFIGURATION
--cluster-gap: Controls the gap between cluster items

--cluster-horizontal-alignment: Controls horizontal alignment of items.
Can be any acceptable flexbox alignment value.

--cluster-vertical-alignment: Controls vertical alignment of items.
Can be any acceptable flexbox alignment value.
*/

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--cluster-gap, 0.5rem);
    justify-content: var(--cluster-horizontal-alignment, flex-start);
    align-items: var(--cluster-vertical-alignment, center);
}
