.radio {
    --_radio-color: var(--color-accent-fill-loud);

    appearance: none;
    margin: 0;
    flex-shrink: 0;
    vertical-align: middle;

    width: 1.1em;
    height: 1.1em;
    padding: 0.15em;

    border: var(--form-control-border-width) var(--border-style) var(--form-control-border-color);
    box-shadow: var(--shadow-xs);
    display: inline-block;
    border-radius: var(--radius-full);
}

.radio::before {
    content: "";
    background-size: auto;
    background-image: none;
    border-radius: var(--radius-full);
    width: 100%;
    height: 100%;
    display: block;
}

.radio:checked {
    border-color: var(--_radio-color);
}

.radio:checked::before {
    background-color: var(--_radio-color);
    border-radius: var(--radius-full);
}

.radio:focus-visible {
    --focus-ring-color: var(--_radio-color);
    --focus-ring-offset: 2px;
    outline-offset: var(--focus-ring-offset);
    outline-style: var(--focus-ring-style);
    outline-width: var(--focus-ring-width);
}
