<div class="accordion">
    <details class="flow">
        <summary>Toggle the details element</summary>
        <p class="text-quiet">
            Previously hidden content until the details element is in its <code
                >open</code
            > state.
        </p>
    </details>
    <details class="flow">
        <summary>Toggle the details element</summary>
        <p class="text-quiet">
            Previously hidden content until the details element is in its <code
                >open</code
            > state.
        </p>
    </details>
    <details class="flow">
        <summary>Toggle the details element</summary>
        <p class="text-quiet">
            Previously hidden content until the details element is in its <code
                >open</code
            > state.
        </p>
    </details>
</div>
