---
import { CircleCheck } from "@lucide/astro";
---

<div class="flow w-full">
    <div class="alert" data-size="sm" data-variant="success">
        <CircleCheck class="icon" />
        <div class="alert-title">Success! Your changes have been saved</div>
    </div>
    <div class="alert" data-size="md" data-variant="success">
        <CircleCheck class="icon" />
        <div class="alert-title">Success! Your changes have been saved</div>
    </div>
    <div class="alert" data-size="lg" data-variant="success">
        <CircleCheck class="icon" />
        <div class="alert-title">Success! Your changes have been saved</div>
    </div>
</div>
