---
import { CircleCheck } from "@lucide/astro";
---

<div class="alert">
    <CircleCheck class="icon" />
    <div class="alert-title">Success! Your changes have been saved</div>
    <div class="alert-description">
        This is an alert with icon, title and description.
    </div>
</div>
