<div class="cluster">
    <span class="avatar">
        <img
            src="https://github.com/mark-tomlinson-dev.png"
            alt="avatar of Mark Tomlinson"
            class="avatar-image"
        />
        <span class="avatar-fallback">MT</span>
    </span>
    <span class="avatar" data-shape="rounded">
        <img
            src="https://github.com/mark-tomlinson-dev.png"
            alt="avatar of Mark Tomlinson"
            class="avatar-image"
        />
        <span class="avatar-fallback">MT</span>
    </span>
    <span class="avatar" data-shape="square">
        <img
            src="https://github.com/mark-tomlinson-dev.png"
            alt="avatar of Mark Tomlinson"
            class="avatar-image"
        />
        <span class="avatar-fallback">MT</span>
    </span>
</div>
