<div class="cluster gap-2xs">
    <span class="badge">Default</span>
    <span class="badge" data-variant="accent">Accent</span>
    <span class="badge" data-variant="neutral">Neutral</span>
    <span class="badge" data-variant="error">Error</span>
    <span class="badge" data-variant="info">Info</span>
    <span class="badge" data-variant="success">Success</span>
    <span class="badge" data-variant="warning">Warning</span>
</div>
