<div class="cluster gap-2xs">
    <span class="badge tabular-nums">8</span>
    <span class="badge tabular-nums" data-variant="error">99</span>
    <span class="badge tabular-nums" data-appearance="outlined">20+</span>
    <span class="badge tabular-nums" data-variant="success">1</span>
</div>
