<div class="cluster gutter-2xs">
    <button class="button">Default</button>
    <button class="button" data-variant="accent">Accent</button>
    <button class="button" data-variant="neutral">Neutral</button>
    <button class="button" data-variant="error">Error</button>
    <button class="button" data-variant="info">Info</button>
    <button class="button" data-variant="success">Success</button>
    <button class="button" data-variant="warning">Warning</button>
</div>
