<div class="flow">
    <div class="cluster gutter-2xs">
        <button class="button">Solid</button>
        <button class="button" data-appearance="soft">Soft</button>
        <button class="button" data-appearance="soft-outlined"
            >Soft Outlined</button
        >
        <button class="button" data-appearance="outlined">Outlined</button>
        <button class="button" data-appearance="ghost">Ghost</button>
    </div>
    <div class="cluster gutter-2xs">
        <button class="button" data-variant="accent">Solid</button>
        <button class="button" data-variant="accent" data-appearance="soft">
            Soft
        </button>
        <button
            class="button"
            data-variant="accent"
            data-appearance="soft-outlined"
        >
            Soft Outlined
        </button>
        <button class="button" data-variant="accent" data-appearance="outlined">
            Outlined
        </button>
        <button class="button" data-variant="accent" data-appearance="ghost">
            Ghost
        </button>
    </div>
    <div class="cluster gutter-2xs">
        <button class="button" data-variant="info">Solid</button>
        <button class="button" data-variant="info" data-appearance="soft">
            Soft
        </button>
        <button
            class="button"
            data-variant="info"
            data-appearance="soft-outlined"
        >
            Soft Outlined
        </button>
        <button class="button" data-variant="info" data-appearance="outlined">
            Outlined
        </button>
        <button class="button" data-variant="info" data-appearance="ghost">
            Ghost
        </button>
    </div>
    <div class="cluster gutter-2xs">
        <button class="button" data-variant="success">Solid</button>
        <button class="button" data-variant="success" data-appearance="soft">
            Soft
        </button>
        <button
            class="button"
            data-variant="success"
            data-appearance="soft-outlined"
        >
            Soft Outlined
        </button>
        <button
            class="button"
            data-variant="success"
            data-appearance="outlined"
        >
            Outlined
        </button>
        <button class="button" data-variant="success" data-appearance="ghost">
            Ghost
        </button>
    </div>
    <div class="cluster gutter-2xs">
        <button class="button" data-variant="warning">Solid</button>
        <button class="button" data-variant="warning" data-appearance="soft">
            Soft
        </button>
        <button
            class="button"
            data-variant="warning"
            data-appearance="soft-outlined"
        >
            Soft Outlined
        </button>
        <button
            class="button"
            data-variant="warning"
            data-appearance="outlined"
        >
            Outlined
        </button>
        <button class="button" data-variant="warning" data-appearance="ghost">
            Ghost
        </button>
    </div>
</div>
