<div class="cluster gutter-2xs">
    <button class="button" data-size="sm">Small</button>
    <button class="button" data-size="md">Default</button>
    <button class="button" data-size="lg">Large</button>
</div>
