.button-classic {
    --_button-classic-shadow-top: inset 0 0 0 1px color(display-p3 0.012 0.012 0.184 / 0.091), inset
        0 -2px 1px color(display-p3 0.004 0.004 0.204 / 0.059);
    --_button-classic-shadow-bottom: inset 0 4px 2px -2px color(display-p3 1 1 1 / 0.7), inset 0 2px
        1px -1px color(display-p3 1 1 1 / 0.7);
    box-shadow: var(--_button-classic-shadow-top), inset 0 0 0 1px var(--_button-color),
        var(--_button-classic-shadow-bottom);
    background-image: linear-gradient(
        to bottom,
        #0000 50%,
        color(display-p3 0.012 0.012 0.184 / 0.091),
        linear-gradient(to bottom, #0000 50%, var(--_button-color) 80%)
    );

    &:active {
        padding-bottom: 7px;
        background-image: linear-gradient(color(display-p3 0 0 0 / 0.05), #0000);
        box-shadow:
            inset 0 4px 2px -2px color(display-p3 0.012 0.012 0.184 / 0.091), inset 0 1px 1px color(
                display-p3 0.008 0.027 0.184 / 0.197
            ), inset 0 0 0 1px color(display-p3 0.004 0.039 0.2 / 0.122), inset 0 0 0 1px color(
                display-p3 0.004 0.039 0.2 / 0.122
            ), inset 0 3px 2px color(display-p3 0.004 0.004 0.204 / 0.059), inset 0 0 0 1px color(
                display-p3 1 1 1 / 0.5
            ), inset 0 -2px 1px color(display-p3 1 1 1 / 0.3);
    }
}
