<div class="card">
    <div class="card-content bg-teal-500">
        <figure
            class="repel min-h-[264px]"
            style="--repel-vertical-alignment: start; --repel-direction: column;"
        >
            <blockquote
                class="text-4xl text-teal-950 font-weight-bold leading-none tracking-tight"
            >
                A book must be the axe for the frozen sea within us.
            </blockquote>
            <figcaption>
                <cite class="font-weight-semibold text-teal-800"
                    >—Franz Kafka</cite
                >
            </figcaption>
        </figure>
    </div>
</div>
