<div class="flow flow-space-3xs">
    <label class="cluster gap-xs">
        <input type="checkbox" class="checkbox" />
        <span>Accept terms and conditions</span>
    </label>
    <p class="text-xs text-quiet">
        By clicking this checkbox, you agree to the terms and conditions.
    </p>
</div>
