<div class="cluster">
    <label>
        <input
            name="a"
            value="1"
            type="checkbox"
            class="checkbox"
            checked
        />Checkbox
    </label>
    <label>
        <input name="a" value="2" type="checkbox" class="checkbox" />Checkbox
    </label>
    <label>
        <input name="a" value="3" type="checkbox" class="checkbox" />Checkbox
    </label>
</div>
