<div class="flow flow-space-xs">
    <label class="cluster gap-xs">
        <input type="checkbox" class="checkbox" data-size="sm" />
        <span>Accept terms and conditions</span>
    </label>
    <label class="cluster gap-xs">
        <input type="checkbox" class="checkbox" data-size="md" />
        <span class="text-base">Accept terms and conditions</span>
    </label>
    <label class="cluster gap-xs">
        <input type="checkbox" class="checkbox" data-size="lg" />
        <span class="text-lg">Accept terms and conditions</span>
    </label>
</div>
