<label class="checkbox-card">
    <input type="checkbox" class="checkbox" id="checkbox-card" checked />
    <div class="flow flow-space-2xs">
        <p class="leading-none">Enable notifications</p>
        <p class="text-quiet">
            You can enable or disable notifications at any time.
        </p>
    </div>
</label>
