<div class="flow">
    <label class="label">
        <span>Example input</span>
        <input
            type="text"
            class="input"
            placeholder="Enter your email (xs)"
            data-size="xs"
        />
    </label>
    <label class="label">
        <span>Example input</span>
        <input
            type="text"
            class="input"
            placeholder="Enter your email (sm)"
            data-size="sm"
        />
    </label>
    <label class="label">
        <span>Example input</span>
        <input type="text" class="input" placeholder="Enter your email (default)" />
    </label>
    <label class="label">
        <span>Example input</span>
        <input
            type="text"
            class="input"
            placeholder="Enter your email (md)"
            data-size="md"
        />
    </label>
    <label class="label">
        <span>Example input</span>
        <input
            type="text"
            class="input"
            placeholder="Enter your email (lg)"
            data-size="lg"
        />
    </label>
</div>
