<div class="flow">
    <label class="label">
        <span>Example input</span>
        <input
            class="input"
            type="email"
            placeholder="Enter your email"
            aria-invalid="true"
        />
    </label>
    <label class="label">
        <span>Example input</span>
        <input
            class="input"
            type="email"
            placeholder="Enter your email"
            disabled
        />
    </label>
</div>
