<div class="flow">
    <label class="label">
        <span>Example input</span>
        <input
            type="text"
            class="input"
            placeholder="Enter your email"
            data-size="xs"
        />
    </label>
    <label class="label">
        <span>Example input</span>
        <input
            type="text"
            class="input"
            placeholder="Enter your email"
            data-size="sm"
        />
    </label>
    <label class="label">
        <span>Example input</span>
        <input
            type="text"
            class="input"
            placeholder="Enter your email"
            data-size="md"
        />
    </label>
    <label class="label">
        <span>Example input</span>
        <input
            type="text"
            class="input"
            placeholder="Enter your email"
            data-size="lg"
        />
    </label>
</div>
