<div class="flow gap-xs">
    <label class="label">Example input</label>
    <input type="text" class="input" placeholder="Enter your email" />
    <input
        type="text"
        class="input"
        placeholder="Enter your email"
        data-appearance="soft"
    />
    <input
        type="text"
        class="input"
        placeholder="Enter your email"
        data-appearance="soft-outlined"
    />
</div>
