<div class="radio-group flow flow-space-xs">
    <label class="cluster cluster-gap-2xs">
        <input
            type="radio"
            name="radio-group-demo"
            value="default"
            class="radio"
        />
        Default
    </label>
    <label class="cluster cluster-gap-2xs">
        <input
            type="radio"
            name="radio-group-demo"
            value="comfortable"
            class="radio"
            checked
        />
        Comfortable
    </label>
    <label class="cluster cluster-gap-2xs">
        <input
            type="radio"
            name="radio-group-demo"
            value="compact"
            class="radio"
        />
        Compact
    </label>
</div>
