<div class="radio-group flow flow-space-xs">
    <label class="cluster cluster-gap-2xs">
        <input
            type="radio"
            name="radio-group-disabled"
            value="option1"
            class="radio"
            checked
        />
        Option 1
    </label>
    <label class="cluster cluster-gap-2xs">
        <input
            type="radio"
            name="radio-group-disabled"
            value="option2"
            class="radio"
            disabled
        />
        Option 2 (disabled)
    </label>
    <label class="cluster cluster-gap-2xs">
        <input
            type="radio"
            name="radio-group-disabled"
            value="option3"
            class="radio"
        />
        Option 3
    </label>
</div>
