<div class="flow flow-space-xs">
    <div class="radio-group flow flow-space-xs">
        <label class="cluster cluster-gap-2xs">
            <input
                type="radio"
                name="radio-group-sizes"
                value="sm"
                class="radio"
                data-size="sm"
                checked
            />
            <span class="label">Small</span>
        </label>
        <label class="cluster cluster-gap-2xs">
            <input
                type="radio"
                name="radio-group-sizes"
                value="md"
                class="radio"
                data-size="md"
            />
            <span class="label">Medium</span>
        </label>
        <label class="cluster cluster-gap-2xs">
            <input
                type="radio"
                name="radio-group-sizes"
                value="lg"
                class="radio"
                data-size="lg"
            />
            <span class="label">Large</span>
        </label>
    </div>
</div>
