<div class="flow flow-space-xs">
    <div class="radio-group flow flow-space-xs">
        <label class="cluster cluster-gap-2xs">
            <input
                type="radio"
                name="radio-group-hint"
                value="option1"
                class="radio"
                checked
            />
            Option 1
        </label>
        <label class="cluster cluster-gap-2xs">
            <input
                type="radio"
                name="radio-group-hint"
                value="option2"
                class="radio"
            />
            Option 2
        </label>
        <label class="cluster cluster-gap-2xs">
            <input
                type="radio"
                name="radio-group-hint"
                value="option3"
                class="radio"
            />
            Option 3
        </label>
    </div>
    <p class="text-xs text-quiet">
        Select an option to proceed. You can change your selection at any time.
    </p>
</div>
