<div>
    <select id="input-select" class="select min-w-[180px]">
        <option disabled>Pick a fruit</option>
        <option>Apple</option>
        <option>Banana</option>
        <option>Blueberry</option>
        <option>Grapes</option>
        <option>Pineapple</option>
    </select>
</div>
