<div class="cluster">
    <input
        type="checkbox"
        class="switch"
        id="notifications"
        name="notifications"
    />
    <label for="notifications">Enable notifications</label>
</div>

<div>
    <input type="checkbox" class="switch" id="dark-mode" name="dark-mode" />
    <label for="dark-mode">Dark mode</label>
</div>
