<div class="flow flow-space-xs">
    <label class="cluster gap-xs">
        <input type="checkbox" id="switch-size-sm" data-size="sm" class="switch" />
        Small
    </label>
    <label class="cluster gap-xs">
        <input type="checkbox" id="switch-size-md" data-size="md" class="switch" />
        Medium
    </label>
    <label class="cluster gap-xs">
        <input type="checkbox" id="switch-size-lg" data-size="lg" class="switch" />
        Large
    </label>
</div>
