.design-area-edit section {
    /* padding-block: var(--space-sm) var(--space-2xs);
    padding-inline: var(--space-2xs); */
    border-block-start: var(--border-width-thin) solid var(--color-border-normal);
}

.section-content {
    padding-inline: 10px;
}
