.picker-command .picker-item-check-slot {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picker-command .picker-item-check-slot + [data-slot="swatch-group"] {
    flex-shrink: 0;
}
