input[type="checkbox"].switch {
    --_switch-height: 18px;
    --_switch-width: 36px;
    --_switch-thumb-size: calc(var(--_switch-height) - 1px * 2);
    --_switch-thumb-travel: calc(var(--_switch-width) - var(--_switch-height));

    appearance: none;
    cursor: pointer;
    position: relative;
    display: block;
    width: var(--_switch-width);
    height: var(--_switch-height);
    margin: 0;
    border-radius: var(--radius-full);
    background-color: var(--color-component-default);
    border: 1px solid transparent;
    box-shadow: none;
    transition: background-color var(--transition-normal) var(--transition-ease-in-out);
}

input[type="checkbox"].switch::before {
    content: "";
    position: absolute;
    left: 0;
    width: var(--_switch-thumb-size);
    height: var(--_switch-thumb-size);
    border: 1px solid transparent;
    border-radius: var(--radius-full);
    background-color: var(--color-surface-z1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20);
    transition: transform var(--transition-normal) var(--ease-in-out);
}

input[type="checkbox"].switch:checked {
    background-color: var(--color-component-accent);
}

input[type="checkbox"].switch:checked::before {
    transform: translateX(var(--_switch-thumb-travel));
}
