<section class="region flow region-space-md">
    <h2>
        <span class="text-quiet mr-2xs">##</span>Acknowledgments
    </h2>
    <p>
        Built on the work of Andy Bell (CUBE CSS), Heydon Pickering (Every
        Layout), and the Design Tokens Community Group.
    </p>
</section>
