<section class="region flow region-space-md">
    <h2>
        <span class="text-quiet mr-2xs">##</span>Acknowledgments
    </h2>
    <p>
        Built on the work of Andy Bell (<a href="https://cube.fyi/">CUBE CSS</a> &
        <a href="https://every-layout.dev/">Every Layout</a>), Heydon Pickering
        (<a href="https://every-layout.dev/">Every Layout</a>), and the <a
            href="https://designtokens.org/">Design Tokens Community Group</a
        >.
    </p>
</section>
