<section class="help region flow region-space-lg">
    <h2>
        <span class="text-quiet mr-2xs">##</span>Help & Support
    </h2>
    <p>Sugarcube is actively developed, and feedback is welcome.</p>
    <p>If you have questions, ideas, or run into problems:</p>
    <ul role="list">
        <li>
            <a href="https://github.com/sugarcube-sh/sugarcube/issues"
                >Open an issue</a
            >
        </li>
        <li>
            <a href="/docs">Read the docs</a>
        </li>
    </ul>
</section>
