---
import CodeBlock from "@/src/components/CodeBlock.astro";
---

<section class="site-hero region region-space-md">
    <div class="flow">
        <h1 class="flow-space-xs tracking-tight text-pretty">
            The toolkit for seriously sweet front ends
        </h1>
        <p class="text-lg flow-space-sm">
            Build front ends your team can grow with confidence.
        </p>
        <!-- <p class="flow-space-sm">
            Define your design tokens. Sugarcube generates CSS variables,
            utilities, and components that stay consistent as your system
            evolves.
        </p> -->
        <div class="flow flow-space-xl">
            <CodeBlock>
                <span class="text-quieter mr-3xs">$</span> pnpm dlx @sugarcube-sh/cli
                init</CodeBlock
            >
            <div class="flow-space-sm">
                <div class="cluster cluster-gap-2xs">
                    <a
                        class="site-button"
                        href="/docs/getting-started"
                        class="site-button">Get Started</a
                    >
                    <a
                        class="site-button"
                        href="/consulting"
                        data-appearance="soft-outlined">Consulting</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>
