<section class="region flow region-space-md">
    <h2>
        <span>##</span>Playground
    </h2>
    <p>
        When the foundations are solid, updating your styles becomes a lot
        easier. Try it out!
    </p>
    <button class="site-button" data-size="sm">Launch Playground</button>
</section>
