---
import Logo from "@/src/assets/sugarcube-logo.svg";
import { ArrowRight } from "@lucide/astro";
const isConsultingPage = Astro.url.pathname.includes("/consulting");
---

<footer class="site-footer region py-lg mt-xl">
    <div class="repel">
        <div class="flow">
            <div class="cluster">
                <Logo />
                <p>MIT LICENSE © {new Date().getFullYear()}</p>
            </div>
            <nav>
                <ul class="cluster" role="list">
                    <li>
                        <a href="/docs">Docs</a>
                    </li>
                    <li>
                        <a href="/consulting">Consulting</a>
                    </li>
                    <li>
                        <a href="https://github.com/sponsors/mark-tomlinson-dev"
                            >Sponsor</a
                        >
                    </li>
                    <li>
                        <a href="https://github.com/sugarcube-sh/sugarcube"
                            >GitHub</a
                        >
                    </li>
                    <li>
                        <a href="https://bsky.app/profile/sugarcube.sh"
                            >Bluesky</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-ctas cluster">
            {
                isConsultingPage ? null : (
                    <div class="footer-cta">
                        <p>Want us to build it for you?</p>
                        <a href="/consulting" class="site-button is-pill">
                            Let's Talk <ArrowRight />
                        </a>
                    </div>
                )
            }
        </div>
    </div>
</footer>
