---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;
---

<div class:list={["table-wrapper", "not-content", className]} {...props}>
    <slot />
</div>
