<section class="region flow region-space-lg">
    <h2>
        <span class="text-quiet mr-2xs">##</span>What is sugarcube?
    </h2>
    <p>
        Sugarcube is <strong class="text-normal"
            >a toolkit for building front ends</strong
        > on strong, reusable foundations.
    </p>
    <p>
        It starts with design tokens as the single source of truth. From those
        tokens, it generates CSS custom properties, utility classes, and
        optional components.
    </p>
    <!-- <p>
        Sugarcube builds on ideas from CUBE CSS, Every Layout, and the Design
        Tokens Community Group specification.
    </p> -->
    <p>
        Sugarcube works as a standalone <strong class="text-normal">CLI</strong
        >, or can integrate directly with <strong class="text-normal"
            >Vite</strong
        >
        as part of your development and build process.
    </p>
</section>
