@layer utilities {
    /* layer: default */
    .shadow-basic{box-shadow:var(--ds-shadow-basic);}
    .shadow-inset{box-shadow:var(--ds-shadow-inset);}
    .shadow-multiple{box-shadow:var(--ds-shadow-multiple);}
    .shadow-reference{box-shadow:var(--ds-shadow-reference);}
    .shadow-referenced{box-shadow:var(--ds-shadow-referenced);}
    .text-brand{color:var(--ds-color-brand);}
    .text-hex-rgb{color:var(--ds-color-hex-rgb);}
    .text-hex-rgba{color:var(--ds-color-hex-rgba);}
    .text-hex-upper{color:var(--ds-color-hex-upper);}
    .text-hsl-basic{color:var(--ds-color-hsl-basic);}
    .text-oklch-basic{color:var(--ds-color-oklch-basic);}
    .text-on-brand{color:var(--ds-color-on-brand);}
    .text-srgb-basic{color:var(--ds-color-srgb-basic);}
    .text-surface{color:var(--ds-color-surface);}
    .text-text{color:var(--ds-color-text);}
    .bg-brand{background-color:var(--ds-color-brand);}
    .bg-hex-rgb{background-color:var(--ds-color-hex-rgb);}
    .bg-hex-rgba{background-color:var(--ds-color-hex-rgba);}
    .bg-hex-upper{background-color:var(--ds-color-hex-upper);}
    .bg-hsl-basic{background-color:var(--ds-color-hsl-basic);}
    .bg-oklch-basic{background-color:var(--ds-color-oklch-basic);}
    .bg-on-brand{background-color:var(--ds-color-on-brand);}
    .bg-srgb-basic{background-color:var(--ds-color-srgb-basic);}
    .bg-surface{background-color:var(--ds-color-surface);}
    .bg-text{background-color:var(--ds-color-text);}
    .p-fine{padding:var(--ds-space-fine);}
    .p-fluid{padding:var(--ds-space-fluid);}
    .p-fluid-px{padding:var(--ds-space-fluid-px);}
    .p-medium{padding:var(--ds-space-medium);}
    .p-reference{padding:var(--ds-space-reference);}
    .p-small{padding:var(--ds-space-small);}
    .p-zero{padding:var(--ds-space-zero);}
    .pr-fine{padding-inline-end:var(--ds-space-fine);}
    .pr-fluid{padding-inline-end:var(--ds-space-fluid);}
    .pr-fluid-px{padding-inline-end:var(--ds-space-fluid-px);}
    .pr-medium{padding-inline-end:var(--ds-space-medium);}
    .pr-reference{padding-inline-end:var(--ds-space-reference);}
    .pr-small{padding-inline-end:var(--ds-space-small);}
    .pr-zero{padding-inline-end:var(--ds-space-zero);}
    .pb-fine{padding-block-end:var(--ds-space-fine);}
    .pb-fluid{padding-block-end:var(--ds-space-fluid);}
    .pb-fluid-px{padding-block-end:var(--ds-space-fluid-px);}
    .pb-medium{padding-block-end:var(--ds-space-medium);}
    .pb-reference{padding-block-end:var(--ds-space-reference);}
    .pb-small{padding-block-end:var(--ds-space-small);}
    .pb-zero{padding-block-end:var(--ds-space-zero);}
    .px-fine{padding-inline:var(--ds-space-fine);}
    .px-fluid{padding-inline:var(--ds-space-fluid);}
    .px-fluid-px{padding-inline:var(--ds-space-fluid-px);}
    .px-medium{padding-inline:var(--ds-space-medium);}
    .px-reference{padding-inline:var(--ds-space-reference);}
    .px-small{padding-inline:var(--ds-space-small);}
    .px-zero{padding-inline:var(--ds-space-zero);}
    .py-fine{padding-block:var(--ds-space-fine);}
    .py-fluid{padding-block:var(--ds-space-fluid);}
    .py-fluid-px{padding-block:var(--ds-space-fluid-px);}
    .py-medium{padding-block:var(--ds-space-medium);}
    .py-reference{padding-block:var(--ds-space-reference);}
    .py-small{padding-block:var(--ds-space-small);}
    .py-zero{padding-block:var(--ds-space-zero);}
    .pt-fine{padding-block-start:var(--ds-space-fine);}
    .pt-fluid{padding-block-start:var(--ds-space-fluid);}
    .pt-fluid-px{padding-block-start:var(--ds-space-fluid-px);}
    .pt-medium{padding-block-start:var(--ds-space-medium);}
    .pt-reference{padding-block-start:var(--ds-space-reference);}
    .pt-small{padding-block-start:var(--ds-space-small);}
    .pt-zero{padding-block-start:var(--ds-space-zero);}
    .pl-fine{padding-inline-start:var(--ds-space-fine);}
    .pl-fluid{padding-inline-start:var(--ds-space-fluid);}
    .pl-fluid-px{padding-inline-start:var(--ds-space-fluid-px);}
    .pl-medium{padding-inline-start:var(--ds-space-medium);}
    .pl-reference{padding-inline-start:var(--ds-space-reference);}
    .pl-small{padding-inline-start:var(--ds-space-small);}
    .pl-zero{padding-inline-start:var(--ds-space-zero);}
    .m-fluid{margin:var(--ds-space-fluid);}
    .m-small{margin:var(--ds-space-small);}
    .font-reference{font-family:var(--ds-font-family-reference);}
    .font-single{font-family:var(--ds-font-family-single);}
    .font-spaced{font-family:var(--ds-font-family-spaced);}
    .font-stack{font-family:var(--ds-font-family-stack);}
    .weight-bold{font-weight:var(--ds-font-weight-bold);}
    .weight-keyword-bold{font-weight:var(--ds-font-weight-keyword-bold);}
    .weight-keyword-normal{font-weight:var(--ds-font-weight-keyword-normal);}
    .weight-keyword-thin{font-weight:var(--ds-font-weight-keyword-thin);}
    .weight-normal{font-weight:var(--ds-font-weight-normal);}
    .weight-reference{font-weight:var(--ds-font-weight-reference);}
    .weight-thin{font-weight:var(--ds-font-weight-thin);}
    .flow-fine{--flow-space:var(--ds-space-fine);}
    .flow-fluid{--flow-space:var(--ds-space-fluid);}
    .flow-fluid-px{--flow-space:var(--ds-space-fluid-px);}
    .flow-medium{--flow-space:var(--ds-space-medium);}
    .flow-reference{--flow-space:var(--ds-space-reference);}
    .flow-small{--flow-space:var(--ds-space-small);}
    .flow-zero{--flow-space:var(--ds-space-zero);}}
